:root {
    --roboto-slab-font-family: "RobotoSlab-Regular", Helvetica;
    --roboto-slab-font-weight: 400;
    --roboto-slab-font-size: 18px;
    --roboto-slab-letter-spacing: 0px;
    --roboto-slab-line-height: normal;
    --roboto-slab-font-style: normal;
    --h4-roboto-slab-regular-font-family: "RobotoSlab-Regular", Helvetica;
    --h4-roboto-slab-regular-font-weight: 400;
    --h4-roboto-slab-regular-font-size: 18px;
    --h4-roboto-slab-regular-letter-spacing: 0px;
    --h4-roboto-slab-regular-line-height: normal;
    --h4-roboto-slab-regular-font-style: normal;
  }
  