
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 23.59rem;
}.button-daftar-fwf {
  position: relative;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;

  .property-1default-nFb {
    margin-bottom: 2rem;
    display: flex;
    font-size: 3rem;
    height: 5.8396rem;
    line-height: 1.2975;
    align-items: center;
    border-radius: 2rem;
    width: 100%;
    text-align: center;
    justify-content: center;
    color: #ffffff;
    white-space: nowrap;
    background: linear-gradient(89.43deg, #005141 0.28%, #03866c 99.46%);
    cursor: pointer;
    font-weight: 400;
    font-family: Candal, 'Source Sans Pro';
    flex-shrink: 0;
  }
  .property-1variant2-cVX {
    font-weight: 400;
    border-radius: 2rem;
    flex-shrink: 0;
    font-size: 3rem;
    display: flex;
    font-family: Candal, 'Source Sans Pro';
    text-align: center;
    line-height: 1.2975;
    align-items: center;
    background-color: #b0aaaa;
    justify-content: center;
    height: 5.8396rem;
    color: #ffffff;
    white-space: nowrap;
    width: 100%;
  }
}
