
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.delete-chap-13-6Zw {
  width: 100%;
  height: 102.4rem;

  .group-51-pVw {
    width: 100%;
    height: 100%;
    position: relative;

    .rectangle-606-Aph {
      width: 2.1rem;
      height: 6.2rem;
      position: absolute;
      left: 140.9rem;
      top: 55.5rem;
      background-color: #bdbdbd;
      border-radius: 1.5rem;
    }
    .preset-5Rs {
      height: 102.4rem;
      left: 0;
      overflow: hidden;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 144rem;
      top: 0;
      background-color: #e3e3e3;
      position: absolute;

      .auto-group-bhqk-zHw {
        margin-bottom: 18.2rem;
        width: 145.1rem;
        height: 102.4rem;
        position: relative;
        flex-shrink: 0;

        .masuk-hi9 {
          width: 7.5rem;
          position: absolute;
          left: 133.6rem;
          top: 15rem;
          font-size: 2.4rem;
          font-family: Inter, 'Source Sans Pro';
          height: 3rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          white-space: nowrap;
        }
        .rectangle-605-nUh {
          top: 16.4rem;
          background-color: rgba(0, 0, 0, 0.150000006);
          border-radius: 1.5rem;
          width: 2.1rem;
          height: 81.2rem;
          position: absolute;
          left: 142.9rem;
        }
        .rectangle-595-Jhw {
          width: 145.1rem;
          height: 17.3rem;
          position: absolute;
          left: 0;
          top: 0;
          background: linear-gradient(90.47deg, #01d589 4.1%, #1dcba9 97.04%);
        }
        .user-thumb-DK7 {
          position: absolute;
          left: 129rem;
          top: 11.2rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 4.8472rem;
          width: 4.6162rem;
          height: 4.6162rem;
        }
        .brosur-lowongan-iWm {
          color: #ffffff;
          width: 15.2rem;
          height: 2.4rem;
          cursor: pointer;
          position: absolute;
          left: 26.8rem;
          top: 14rem;
          font-size: 1.8rem;
          white-space: nowrap;
          font-weight: 600;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
        }
        .keluar-QPb {
          width: 5.8rem;
          height: 2.4rem;
          left: 136.5rem;
          top: 12.6rem;
          white-space: nowrap;
          font-family: Roboto Slab, 'Source Sans Pro';
          position: absolute;
          font-size: 1.8rem;
          font-weight: 600;
          line-height: 1.3175;
          color: #ffffff;
        }
        .logo-jobstreet-variant2-v73 {
          height: 10.9rem;
          cursor: pointer;
          position: absolute;
          left: 6rem;
          top: 0;
          width: 29.1rem;

          .logo-removebg-preview-2-qzh {
            height: 10.9rem;
            object-fit: cover;
            vertical-align: top;
            width: 29.1rem;
          }
        }
        .rectangle-574-AXB {
          background-color: #ffffff;
          border-radius: 1rem;
          width: 38.2rem;
          position: absolute;
          border: solid 0.1rem #0e8136;
          box-sizing: border-box;
          height: 5.4rem;
          left: 88.6rem;
          top: 10.8rem;
        }
        .rectangle-606-fiq {
          width: 2.1rem;
          height: 6.2rem;
          position: absolute;
          left: 142.9rem;
          top: 18rem;
          background-color: #ffffff;
          border-radius: 1.5rem;
        }
        .footer-nYZ {
          box-sizing: border-box;
          padding: 2.7rem 15.1rem 2.8rem 14rem;
          position: absolute;
          top: 94.5rem;
          width: 144rem;
          height: 7.9rem;
          left: 1.1rem;
          display: flex;
          align-items: center;
          background-color: #008a88;

          .tentang-jobstreet-express-f6Z {
            margin-right: 4.6rem;
            display: flex;
            font-weight: 400;
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.8rem;
            line-height: 1.3175;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .pusat-bantuan-Zxd {
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 44.9rem;
            display: flex;
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
          }
          .copyright-2023-jobstreet-express-tzu {
            color: #ffffff;
            font-family: Roboto Slab, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            display: flex;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 1.3175;
          }
        }
      }
      .rectangle-594-cAD {
        background-color: #44abc3;
        flex-shrink: 0;
        margin: 0rem 0.2rem 36.2rem 0rem;
        width: 144.5rem;
        height: 35.5rem;
      }
      .auto-group-twmf-vgh {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #921414;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 6.1rem 21rem 6.2rem 21rem;

        .line-20-TAq {
          margin-right: 3rem;
          width: 18rem;
          height: 0.5rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .line-21-PKP {
          background-color: #000000;
          flex-shrink: 0;
          margin-right: 51rem;
          width: 12rem;
          height: 0.5rem;
        }
        .line-22-LEd {
          flex-shrink: 0;
          width: 18rem;
          height: 0.5rem;
          background-color: #000000;
        }
      }
    }
    .daftar-permintaan-g3b {
      height: 81.7rem;
      position: absolute;
      left: 2.7rem;
      top: 19.9rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 127.9rem;

      .auto-group-jaed-zKB {
        background-color: #ffffff;
        border-radius: 2rem;
        flex-shrink: 0;
        margin-bottom: 3.5rem;
        box-sizing: border-box;
        padding: 2.2rem 2.5rem 1.7rem 3.4rem;
        display: flex;
        align-items: center;

        .cari-karyawan-Vmj {
          font-weight: 400;
          line-height: 1.3175;
          color: #000000;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.7rem 0.8rem 0rem;
          font-size: 2.2rem;
        }
        .auto-group-3got-Qdo {
          background-color: #ffffff;
          flex-shrink: 0;
          margin: 0.1rem 57.8rem 0rem 0rem;
          box-sizing: border-box;
          padding: 0.5rem 1.4rem 0.7rem 1.4rem;
          border: solid 0.1rem #000000;

          .search-8Ju {
            width: 2.4rem;
            height: 2.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .auto-group-1ea5-SqP {
          height: 3.6rem;
          position: relative;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 27.6rem;

          .submit-QQq {
            top: 0;
            position: absolute;
            left: 16.6rem;
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 6.1rem;
            height: 2.2rem;
          }
          .digital-connectivity-uMb {
            width: 27.6rem;
            position: absolute;
            top: 0;
            line-height: 1.1975;
            color: #000000;
            font-family: Inria Serif, 'Source Sans Pro';
            height: 3.6rem;
            left: 0;
            font-size: 3rem;
            font-weight: 700;
            white-space: nowrap;
          }
        }
      }
      .auto-group-bwzh-bkD {
        flex-shrink: 0;
        width: 100%;
        height: 70.6rem;
        position: relative;

        .rectangle-617-YQZ {
          top: 0;
          background-color: #ffffff;
          border-radius: 2rem;
          width: 116.7rem;
          height: 70.6rem;
          position: absolute;
          left: 11.2rem;
        }
        .tidak-ada-permintaan-59b {
          line-height: 1.2125;
          white-space: nowrap;
          left: 55rem;
          top: 33.5rem;
          font-size: 3rem;
          font-weight: 600;
          color: #b0aaaa;
          width: 31.6rem;
          height: 3.7rem;
          position: absolute;
          font-family: Inter, 'Source Sans Pro';
        }
      }
    }
    .footer-xz5 {
      align-items: center;
      top: 94.5rem;
      display: flex;
      box-sizing: border-box;
      padding: 2.7rem 15.1rem 2.8rem 14rem;
      width: 144rem;
      height: 7.9rem;
      position: absolute;
      left: 0;
      background-color: #008a88;

      .tentang-jobstreet-express-4nD {
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        flex-shrink: 0;
        font-size: 1.8rem;
        display: flex;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 4.6rem;
      }
      .pusat-bantuan-Nnu {
        margin-right: 44.9rem;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .copyright-2023-jobstreet-express-VsX {
        flex-shrink: 0;
        display: flex;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.3175;
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .rectangle-700-p97 {
      left: 62rem;
      top: 13.1rem;
      background-color: #381c88;
      border-radius: 1rem;
      width: 20rem;
      height: 4rem;
      position: absolute;
    }
    .wawancara-wUd {
      height: 2.2rem;
      left: 45.7rem;
      top: 14.1rem;
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2125;
      color: #ffffff;
      width: 10.2rem;
      white-space: nowrap;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      cursor: pointer;
    }
    .daftar-permintaan-Eid {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 1.2125;
      width: 15.9rem;
      height: 2.2rem;
      position: absolute;
      left: 63.9rem;
      top: 14.1rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .tools-samping-kiri-9Ko {
      top: 42.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 13.9286rem;
      height: 27.7714rem;
      position: absolute;
      left: 0.1rem;

      .daftar-permintaan-tools-samping-g4q {
        flex-shrink: 0;
        margin: 0rem 1.264rem 1.943rem 1.264rem;
        width: calc(100% - 2.5286rem);
        align-items: center;
        display: flex;
        flex-direction: column;

        .list-icon-Pzq {
          cursor: pointer;
          background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
          border-radius: 3.6071rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 1.714rem 0.929rem 1.643rem;
          box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
          margin: 0rem 2.093rem 1.143rem 2.093rem;
          width: calc(100% - 4.1857rem);

          .list-1-6uF {
            height: 5.2857rem;
            object-fit: cover;
            vertical-align: top;
            width: 3.8571rem;
          }
        }
        .group-79-A8R {
          width: 100%;
          height: 4.5572rem;
          position: relative;
          flex-shrink: 0;

          .daftar-urh {
            width: 6.7rem;
            height: 3.2rem;
            position: absolute;
            left: 2.35rem;
            font-weight: 400;
            font-family: Lalezar, 'Source Sans Pro';
            top: 0;
            text-align: center;
            font-size: 2rem;
            line-height: 1.5675;
            color: #ffffff;
            white-space: nowrap;
          }
          .permintaan-d21 {
            width: 11.4rem;
            height: 3.2rem;
            left: 0;
            font-size: 2rem;
            color: #ffffff;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            top: 1.3572rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.5675;
          }
        }
      }
      .jadwal-wawancara-tools-samping-8zM {
        cursor: pointer;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 1.0643rem;
        width: 100%;

        .calendar-ikon-5Po {
          width: calc(100% - 4.5857rem);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
          border-radius: 3.6071rem;
          flex-shrink: 0;
          margin: 0rem 2.293rem 1.143rem 2.293rem;
          box-sizing: border-box;
          padding: 1.357rem 0rem 1.232rem 0rem;

          .calendar-1-CDX {
            width: 6.2489rem;
            height: 4.625rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .group-80-1Ay {
          width: 100%;
          height: 4.5571rem;
          position: relative;
          flex-shrink: 0;

          .jadwal-kPT {
            width: 7.1rem;
            height: 3.2rem;
            top: 0;
            font-size: 2rem;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            left: 2.35rem;
            text-align: center;
            font-weight: 400;
            line-height: 1.5675;
            color: #ffffff;
          }
          .wawancara-GMo {
            top: 1.3571rem;
            text-align: center;
            line-height: 1.5675;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            width: 11.8rem;
            position: absolute;
            left: 0;
            color: #ffffff;
            height: 3.2rem;
            font-size: 2rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
