
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 116.9rem;
}.new-job-added-program-analist-Sau {
  width: 100%;
  height: 16.8rem;

  .joblist-variant3-yqj {
    width: 100%;
    height: 100%;
    position: relative;

    .list-job-LAV {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      width: 116.9rem;
      position: absolute;
      top: 0;
      display: flex;
      border: solid 0.4rem rgba(0, 0, 0, 0.25);
      background: linear-gradient(180deg, rgba(133, 211, 168, 0.1199999973) -0%, #5fbcb8 100%);
      border-radius: 2rem;
      box-sizing: border-box;
      padding: 2.1rem 3.5rem 2rem 3.5rem;
      height: 16.8rem;
      left: 0;
      align-items: center;

      .auto-group-kcuo-Rhj {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 32.3rem;
        width: 30.9rem;
        height: 100%;
        align-items: center;
        display: flex;

        .auto-group-vvl1-AQR {
          width: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .program-analist-7qT {
            font-family: Inria Serif, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.5rem;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.1975;
            color: #000000;
          }
          .ellipse-124-SMw {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #35ac41;
            border-radius: 1.35rem;
            flex-shrink: 0;
            width: 2.7rem;
            height: 2.7rem;
          }
        }
        .auto-group-jda1-ME1 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 1.1rem;
          width: 100%;
          align-items: center;

          .auto-group-yg4h-HdT {
            width: calc(100% - 4.5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 2.2rem 2.1rem 2.3rem;

            .ellipse-123-cfj {
              height: 0.8rem;
              background-color: #000000;
              border-radius: 0.4rem;
              flex-shrink: 0;
              margin: 0rem 0.2rem 0.1rem 0rem;
              width: 0.8rem;
            }
            .ditayangkan-pada-23-oktober-2023-8PB {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .group-42-FCu {
            flex-shrink: 0;
            margin-right: 1.4rem;
            width: 29.5rem;
            height: 4rem;
            border-radius: 1rem;

            .group-41-PK7 {
              width: 100%;
              height: 100%;
              border-radius: 1rem;

              .group-39-9ZB {
                height: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                border-radius: 1rem;
                width: 100%;

                .group-43-6zD {
                  margin-right: 2.75rem;
                  width: 12.35rem;
                  height: 100%;
                  position: relative;
                  border-radius: 1rem;
                  flex-shrink: 0;

                  .rectangle-706-TZs {
                    width: 12.35rem;
                    left: 0;
                    box-sizing: border-box;
                    border-radius: 1rem;
                    height: 3.0875rem;
                    position: absolute;
                    top: 0.4875rem;
                    border: solid 0.1rem #000000;
                    background-color: #fff6f7;
                  }
                  .lihat-a8h {
                    font-size: 2rem;
                    font-weight: 400;
                    line-height: 1.9675;
                    color: #000000;
                    width: 3.6rem;
                    height: 4rem;
                    position: absolute;
                    left: 4.3875rem;
                    font-family: Gurajada, 'Source Sans Pro';
                    white-space: nowrap;
                    top: 0;
                  }
                }
                .group-44-ffw {
                  width: 14.4rem;
                  height: 100%;
                  position: relative;
                  border-radius: 1rem;
                  flex-shrink: 0;

                  .rectangle-704-d6y {
                    width: 12.35rem;
                    top: 0.5rem;
                    border: solid 0.1rem #390d0d;
                    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                    border-radius: 1rem;
                    height: 3.0875rem;
                    position: absolute;
                    left: 0;
                    box-sizing: border-box;
                    background-color: #ce2337;
                  }
                  .matikan-uqB {
                    color: #ffffff;
                    font-family: Gurajada, 'Source Sans Pro';
                    width: 5.7rem;
                    height: 4rem;
                    position: absolute;
                    font-weight: 400;
                    white-space: nowrap;
                    left: 3.7rem;
                    top: 0;
                    font-size: 2rem;
                    line-height: 1.9675;
                  }
                }
              }
            }
          }
        }
      }
      .auto-group-z9c5-MSH {
        margin: 1.4rem 4rem 0rem 0rem;
        width: 8.6rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .rectangle-710-5dB {
          width: 100%;
          height: 8.2rem;
          border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: rgba(217, 217, 217, 0.6899999976);
          flex-shrink: 0;
          margin-bottom: 0.6rem;
        }
        .antrean-mW1 {
          flex-shrink: 0;
          margin-left: 0.9rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.4;
          color: #000000;
          font-family: Jockey One, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .auto-group-6gru-JF3 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.4rem 4.3rem 0rem 0rem;
        width: 8.6rem;

        .rectangle-707-RKf {
          height: 8.2rem;
          border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: rgba(217, 217, 217, 0.6899999976);
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          width: 100%;
        }
        .wawancara-vXK {
          margin-left: 0.4rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.4;
          color: #000000;
          font-family: Jockey One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-hqe1-FJh {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 1.4rem 4rem 0rem 0rem;
        width: 8.6rem;

        .rectangle-708-n3j {
          height: 8.2rem;
          border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: rgba(217, 217, 217, 0.6899999976);
          flex-shrink: 0;
          margin-bottom: 0.6rem;
          width: 100%;
        }
        .terpilih-Ux9 {
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.4;
          color: #000000;
          font-family: Jockey One, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.8rem;
        }
      }
      .auto-group-abym-pWD {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-top: 1.2rem;
        width: 8.6rem;

        .rectangle-709-Zih {
          width: 100%;
          height: 8.2rem;
          border: solid 0.1rem rgba(0, 0, 0, 0.0799999982);
          box-sizing: border-box;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: rgba(217, 217, 217, 0.6899999976);
          flex-shrink: 0;
          margin-bottom: 0.4rem;
        }
        .sisa-kuota-Gt1 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.1rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.4;
          color: #000000;
          font-family: Jockey One, 'Source Sans Pro';
        }
      }
    }
    .item-0-L7B {
      width: 3.7rem;
      position: absolute;
      left: 69.4rem;
      line-height: 1.9675;
      color: #000000;
      white-space: nowrap;
      height: 19.7rem;
      top: -2.7rem;
      font-size: 10rem;
      font-weight: 400;
      font-family: Gurajada, 'Source Sans Pro';
    }
    .item-0-myB {
      font-family: Gurajada, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.7rem;
      font-size: 10rem;
      line-height: 1.9675;
      top: -2.7rem;
      font-weight: 400;
      color: #000000;
      height: 19.7rem;
      position: absolute;
      left: 82rem;
    }
    .item-0-rUq {
      top: -2.7rem;
      line-height: 1.9675;
      color: #000000;
      width: 3.7rem;
      height: 19.7rem;
      left: 94.7rem;
      font-family: Gurajada, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      font-size: 10rem;
      font-weight: 400;
    }
    .item-0-Leu {
      width: 3.7rem;
      position: absolute;
      color: #000000;
      font-family: Gurajada, 'Source Sans Pro';
      line-height: 1.9675;
      white-space: nowrap;
      height: 19.7rem;
      left: 107.4rem;
      top: -2.7rem;
      font-size: 10rem;
      font-weight: 400;
    }
  }
}
