
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-new-GHf {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .header-pt-kyX {
    flex-shrink: 0;
    margin-bottom: 9.8rem;
    width: 145.1rem;
    height: 18rem;
    position: relative;

    .masuk-gMP {
      top: 15rem;
      font-size: 2.4rem;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      height: 3rem;
      position: absolute;
      left: 132.5rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 7.5rem;
    }
    .rectangle-700-aBs {
      left: 0;
      top: 0;
      background: linear-gradient(180deg, #98dfa0 -0%, #42aac4 100%);
      width: 145.1rem;
      height: 17.3rem;
      position: absolute;
    }
    .rectangle-702-h1b {
      width: 145.1rem;
      height: 17.3rem;
      position: absolute;
      left: 0;
      top: 0;
      background: linear-gradient(90.59deg, #01d589 2.03%, #1dcba9 98.17%);
    }
    .user-thumb-oaR {
      vertical-align: top;
      border-radius: 4.8472rem;
      width: 4.6162rem;
      height: 4.6162rem;
      position: absolute;
      left: 127.9rem;
      top: 11.2rem;
      object-fit: contain;
    }
    .brosur-lowongan-vQ9 {
      top: 13.6rem;
      font-size: 1.8rem;
      font-weight: 600;
      white-space: nowrap;
      position: absolute;
      height: 2.4rem;
      cursor: pointer;
      left: 25.7rem;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      width: 15.2rem;
    }
    .wawancara-1wP {
      font-size: 1.8rem;
      font-weight: 600;
      white-space: nowrap;
      width: 10.4rem;
      position: absolute;
      left: 46.5rem;
      top: 13.6rem;
      font-family: Roboto Slab, 'Source Sans Pro';
      height: 2.4rem;
      cursor: pointer;
      line-height: 1.3175;
      color: #ffffff;
    }
    .daftar-permintaan-8FK {
      width: 15.9rem;
      left: 64.8rem;
      top: 13.6rem;
      font-weight: 600;
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .keluar-S17 {
      font-size: 1.8rem;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      top: 12.6rem;
      cursor: pointer;
      left: 135.4rem;
      font-weight: 600;
      width: 5.8rem;
      height: 2.4rem;
    }
    .group-31-XoF {
      top: 11.6rem;
      width: 2.5rem;
      height: 2.4rem;
      position: absolute;
      left: 79.8rem;

      .ellipse-87-GF3 {
        top: 0.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5rem;
        height: 2.3rem;
        position: absolute;
        left: 0;
      }
      .item-4-njB {
        white-space: nowrap;
        width: 1rem;
        height: 2.4rem;
        position: absolute;
        left: 0.7rem;
        font-weight: 600;
        color: #ffffff;
        top: 0;
        font-size: 1.8rem;
        line-height: 1.3175;
        font-family: Roboto Slab, 'Source Sans Pro';
      }
    }
    .logo-removebg-preview-2-tGR {
      height: 10.9rem;
      position: absolute;
      left: 4.9rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 29.1rem;
    }
    .rectangle-701-R1T {
      background-color: #ffffff;
      border-radius: 1rem;
      width: 38.2rem;
      position: absolute;
      left: 87.5rem;
      border: solid 0.1rem #0e8136;
      height: 5.4rem;
      top: 10.8rem;
      box-sizing: border-box;
    }
  }
  .auto-group-zvd7-hzZ {
    height: 62.4rem;
    position: relative;
    flex-shrink: 0;
    margin: 0rem 0rem 4.3rem 0.1rem;
    width: 140.7rem;

    .background-header-RvZ {
      padding: 1.4rem 2.7rem 1.7rem 2.7rem;
      position: absolute;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 10rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      box-sizing: border-box;
      width: 126.8rem;
      height: 62.4rem;
      left: 13.9rem;
      top: 0;
      background-image: url('REPLACE_IMAGE:de65f232e7adbd85e4a0edcfb895693d18fa5130');

      .selamat-datang-telkom-indonesia--vsK {
        font-weight: 400;
        line-height: 1.4;
        color: #000000;
        font-family: Jockey One, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0rem 1.2rem 1.8rem;
        font-size: 2.4rem;
      }
      .auto-group-opmb-dmj {
        width: calc(100% - 15.9rem);
        height: 6.7rem;
        border-radius: 2rem;
        border: solid 0.1rem #000000;
        background-color: #ffffff;
        margin: 0rem 12.4rem 3.4rem 3.5rem;
        box-sizing: border-box;
        padding: 1.4rem 5.7rem 1.1rem 1.6rem;
        display: flex;
        align-items: center;

        .profil-perusahaan-vkq {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 58.8rem 0.1rem 0rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.2125;
        }
        .auto-group-lvcr-EmX {
          width: 18.4rem;
          font-weight: 500;
          background-color: #699bf7;
          border-radius: 1rem;
          flex-shrink: 0;
          white-space: nowrap;
          height: 100%;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          display: flex;
          font-size: 1.8rem;
          color: #ffffff;
          align-items: center;
          justify-content: center;
        }
      }
      .auto-group-l4id-5n9 {
        margin-right: 7.3rem;
        width: calc(100% - 7.3rem);
        height: 44.6rem;
        display: flex;
        align-items: flex-start;

        .auto-group-5cem-R5K {
          flex-shrink: 0;
          margin: 1.1rem 4.3rem 0rem 0rem;
          align-items: flex-end;
          display: flex;
          flex-direction: column;

          .telkom-tel-1-iq7 {
            flex-shrink: 0;
            margin-bottom: 4.65rem;
            width: 22rem;
            height: 19.6rem;
            object-fit: cover;
            vertical-align: top;
          }
          .pt-telkom-indonesia-tbk-48H {
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 1.3175;
            font-family: Roboto Slab, 'Source Sans Pro';
            margin-right: 1.2rem;
            display: flex;
            color: #000000;
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-ozqv-mHb {
          padding: 4.5rem 2.9rem 4.5rem 4.2rem;
          height: 100%;
          border: solid 0.1rem #000000;
          background-color: rgba(255, 255, 255, 0.6200000048);
          border-radius: 3.7rem;
          flex-shrink: 0;
          box-sizing: border-box;

          .pt-telkom-indonesia-persero-tbk-telkom-adalah-badan-usaha-milik-negara-bumn-yang-bergerak-di-bidang-jasa-layanan-teknologi-informasi-dan-komunikasi-tik-dan-jaringan-telekomunikasi-di-indonesia-pemegang-saham-mayoritas-telkom-adalah-pemerintah-republik-indonesia-sebesar-5209-sedangkan-4791-sisanya-dikuasai-oleh-publik-saham-telkom-diperdagangkan-di-bursa-efek-indonesia-bei-dengan-kode-tlkm-dan-new-york-stock-exchange-nyse-dengan-kode-tlk-6Ks {
            line-height: 1.3175;
            color: #000000;
            font-family: Roboto Slab, 'Source Sans Pro';
            max-width: 79.2rem;
            font-size: 2.2rem;
            font-weight: 600;
          }
        }
      }
    }
    .tools-samping-kiri-JaM {
      width: 13.9286rem;
      height: 27.7714rem;
      position: absolute;
      left: 0;
      top: 14rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .daftar-permintaan-tools-samping-Rey {
        margin: 0rem 1.264rem 1.943rem 1.264rem;
        width: calc(100% - 2.5286rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .list-icon-wNR {
          box-sizing: border-box;
          cursor: pointer;
          background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
          border-radius: 3.6071rem;
          margin: 0rem 2.093rem 1.143rem 2.093rem;
          width: calc(100% - 4.1857rem);
          box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
          flex-shrink: 0;
          padding: 1rem 1.714rem 0.929rem 1.643rem;

          .list-1-eXj {
            height: 5.2857rem;
            object-fit: cover;
            vertical-align: top;
            width: 3.8571rem;
          }
        }
        .group-79-XLd {
          width: 100%;
          height: 4.5572rem;
          position: relative;
          flex-shrink: 0;

          .daftar-gjK {
            width: 6.7rem;
            height: 3.2rem;
            left: 2.35rem;
            top: 0;
            text-align: center;
            font-size: 2rem;
            line-height: 1.5675;
            color: #ffffff;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            position: absolute;
            font-weight: 400;
          }
          .permintaan-nnM {
            font-size: 2rem;
            line-height: 1.5675;
            color: #ffffff;
            height: 3.2rem;
            position: absolute;
            text-align: center;
            font-weight: 400;
            font-family: Lalezar, 'Source Sans Pro';
            white-space: nowrap;
            width: 11.4rem;
            left: 0;
            top: 1.3572rem;
          }
        }
      }
      .jadwal-wawancara-tools-samping-u6H {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0 1.0643rem;
        width: 100%;
        cursor: pointer;
        align-items: center;

        .calendar-ikon-pDF {
          border-radius: 3.6071rem;
          flex-shrink: 0;
          margin: 0rem 2.293rem 1.143rem 2.293rem;
          box-sizing: border-box;
          padding: 1.357rem 0rem 1.232rem 0rem;
          width: calc(100% - 4.5857rem);
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);

          .calendar-1-X7f {
            width: 6.2489rem;
            height: 4.625rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .group-80-ard {
          height: 4.5571rem;
          position: relative;
          flex-shrink: 0;
          width: 100%;

          .jadwal-8t9 {
            white-space: nowrap;
            height: 3.2rem;
            top: 0;
            text-align: center;
            font-size: 2rem;
            font-weight: 400;
            font-family: Lalezar, 'Source Sans Pro';
            width: 7.1rem;
            position: absolute;
            left: 2.35rem;
            line-height: 1.5675;
            color: #ffffff;
          }
          .wawancara-f7P {
            font-family: Lalezar, 'Source Sans Pro';
            width: 11.8rem;
            height: 3.2rem;
            left: 0;
            text-align: center;
            font-weight: 400;
            white-space: nowrap;
            position: absolute;
            top: 1.3571rem;
            font-size: 2rem;
            line-height: 1.5675;
            color: #ffffff;
          }
        }
      }
    }
  }
  .footer-A49 {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #008a88;
    flex-shrink: 0;
    margin-bottom: 18.2rem;
    box-sizing: border-box;
    padding: 2.7rem 15.1rem 2.8rem 14rem;

    .tentang-jobstreet-express-5gu {
      display: flex;
      font-weight: 400;
      color: #ffffff;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 4.6rem;
      font-size: 1.8rem;
      line-height: 1.3175;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
    .pusat-bantuan-ocu {
      display: flex;
      font-size: 1.8rem;
      line-height: 1.3175;
      margin-right: 44.9rem;
      font-weight: 400;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
    .copyright-2023-jobstreet-express-wDK {
      white-space: nowrap;
      flex-shrink: 0;
      display: flex;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 1.3175;
      color: #ffffff;
      font-family: Roboto Slab, 'Source Sans Pro';
    }
  }
  .rectangle-594-edX {
    background-color: #8c8989;
    flex-shrink: 0;
    margin-bottom: 35.9rem;
    width: 144.5rem;
    height: 35.5rem;
  }
  .auto-group-ns3o-njj {
    width: 100%;
    height: 12.8rem;
    background-color: #999393;
    border-top: solid 0.5rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;
  }
}
