
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-rincian-lowongan-jxd {
  width: 100%;
  height: 102.4rem;

  .buat-lowongan-UfK {
    height: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #e3e3e3;
    width: 100%;

    .header-pt-pUH {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 10rem;
      width: 145.1rem;
      height: 18rem;

      .masuk-YQH {
        font-size: 2.4rem;
        line-height: 1.2125;
        position: absolute;
        left: 133.6rem;
        top: 15rem;
        font-weight: 400;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 7.5rem;
        height: 3rem;
        white-space: nowrap;
      }
      .rectangle-700-Riy {
        width: 145.1rem;
        height: 17.3rem;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(180deg, #98dfa0 -0%, #42aac4 100%);
      }
      .rectangle-702-jjf {
        width: 145.1rem;
        height: 17.3rem;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(90.59deg, #01d589 2.03%, #1dcba9 98.17%);
      }
      .user-thumb-erd {
        left: 129rem;
        top: 11.2rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 4.8472rem;
        width: 4.6162rem;
        height: 4.6162rem;
        position: absolute;
      }
      .group-31-yP7 {
        width: 2.5rem;
        height: 2.4rem;
        position: absolute;
        left: 80.9rem;
        top: 11.6rem;
      }
      .logo-jobstreet-variant2-6id {
        cursor: pointer;
        position: absolute;
        left: 6rem;
        top: 0;
        width: 29.1rem;
        height: 10.9rem;

        .logo-removebg-preview-2-2sB {
          vertical-align: top;
          width: 29.1rem;
          height: 10.9rem;
          object-fit: cover;
        }
      }
      .rectangle-701-ZcD {
        left: 88.6rem;
        background-color: #ffffff;
        position: absolute;
        top: 10.8rem;
        border: solid 0.1rem #0e8136;
        box-sizing: border-box;
        border-radius: 1rem;
        width: 38.2rem;
        height: 5.4rem;
      }
      .group-31-TxV {
        top: 12.6rem;
        width: 2.5rem;
        height: 2.4rem;
        position: absolute;
        left: 77.2rem;

        .ellipse-87-Cv5 {
          object-fit: contain;
          vertical-align: top;
          width: 2.5rem;
          height: 2.3rem;
          position: absolute;
          left: 0;
          top: 0.1rem;
        }
        .item-3-jQD {
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          line-height: 1.2125;
          width: 1.2rem;
          height: 2.2rem;
          position: absolute;
          left: 0.7rem;
          top: 0;
          font-size: 1.8rem;
          font-weight: 500;
        }
      }
      .daftar-permintaan-pwT {
        white-space: nowrap;
        cursor: pointer;
        position: absolute;
        left: 61.3rem;
        top: 14.2rem;
        font-size: 1.8rem;
        font-weight: 600;
        color: #ffffff;
        width: 15.9rem;
        height: 2.2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
      .wawancara-8BT {
        width: 10.2rem;
        height: 2.2rem;
        cursor: pointer;
        left: 42.6rem;
        top: 14.2rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .brosur-lowongan-33X {
        font-size: 1.8rem;
        cursor: pointer;
        height: 2.2rem;
        position: absolute;
        left: 20.5rem;
        top: 14.2rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #ffffff;
        width: 15.3rem;
        white-space: nowrap;
        font-family: Inter, 'Source Sans Pro';
      }
      .keluar-xAV {
        color: #ffffff;
        font-family: Roboto Slab, 'Source Sans Pro';
        height: 2.4rem;
        position: absolute;
        left: 136.2rem;
        top: 12.3rem;
        line-height: 1.3175;
        width: 5.8rem;
        cursor: pointer;
        font-size: 1.8rem;
        font-weight: 600;
        white-space: nowrap;
      }
    }
    .auto-group-gdiq-f4u {
      margin-bottom: 29.8rem;
      width: 144.7rem;
      height: 134.5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-594-yLV {
        position: absolute;
        left: 0;
        top: 92.6rem;
        background-color: #44abc3;
        width: 144.5rem;
        height: 35.5rem;
      }
      .form-brocur-uV3 {
        width: 117.5rem;
        height: 134.5rem;
        position: absolute;
        left: 16.8rem;
        top: 0;
        background-color: #ffffff;

        .auto-group-ybkm-RiH {
          top: 10.8289rem;
          display: flex;
          align-items: flex-start;
          width: 104.6358rem;
          height: 4.5595rem;
          position: absolute;
          left: 4.0517rem;

          .posisi-pekerjaan-98V {
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0.38rem 3.456rem 0rem 0rem;

            .posisi-pekerjaan-98V-sub-0 {
            }
            .posisi-pekerjaan-98V-sub-1 {
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #ff0f0f;
            }
          }
          .rectangle-610-gAM {
            border-radius: 1rem;
            flex-shrink: 0;
            width: 84.5797rem;
            height: 4.5595rem;
            cursor: pointer;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
          }
        }
        .auto-group-jtfb-C8h {
          left: 3.9504rem;
          top: 19.1881rem;
          display: flex;
          align-items: center;
          width: 104.737rem;
          height: 4.5595rem;
          position: absolute;

          .jenis-pekerjaan-vqP {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 5.157rem 0.92rem 0rem;
            font-size: 2rem;
            font-weight: 500;
          }
          .rectangle-611-EbB {
            flex-shrink: 0;
            width: 84.5797rem;
            height: 4.5595rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 1rem;
          }
        }
        .auto-group-fr9k-ZNZ {
          width: 105.0409rem;
          height: 4.5595rem;
          position: absolute;
          left: 3.6465rem;
          top: 27.6422rem;
          display: flex;
          align-items: flex-start;

          .tingkat-jabatan-UVX {
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            font-weight: 500;
            font-size: 2rem;
            color: #000000;
            white-space: nowrap;
            display: flex;
            align-items: baseline;
            flex-shrink: 0;
            margin: 0.475rem 3.961rem 0rem 0rem;

            .tingkat-jabatan-UVX-sub-0 {
            }
            .tingkat-jabatan-UVX-sub-1 {
              color: #fd0c0c;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
            }
          }
          .rectangle-701-rFB {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 84.5797rem;
            height: 4.5595rem;
          }
        }
        .auto-group-eyjj-msw {
          align-items: center;
          width: 104.3319rem;
          height: 4.9rem;
          position: absolute;
          left: 4.3556rem;
          top: 37.2363rem;
          display: flex;

          .spesialisasipekerjaan-i2V {
            flex-shrink: 0;
            margin-right: 8.5521rem;
            max-width: 11.2rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';

            .spesialisasipekerjaan-i2V-sub-0 {
            }
            .spesialisasipekerjaan-i2V-sub-1 {
              line-height: 1.2125;
              color: #ec1a1a;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
              font-weight: 500;
            }
          }
          .rectangle-702-sJh {
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-bottom: 0.1505rem;
            width: 84.5797rem;
            height: 4.5595rem;
          }
        }
        .auto-group-fhbx-PH3 {
          align-items: center;
          width: 23.804rem;
          height: 2.5647rem;
          position: absolute;
          left: 24.1077rem;
          top: 45.5954rem;
          display: flex;

          .provinsi-iq7 {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 2.529rem 0.065rem 0rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
          }
          .rectangle-715-T21 {
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 13.6746rem;
            height: 2.5647rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
          }
        }
        .auto-group-xczp-asK {
          width: 71.2091rem;
          height: 3.7046rem;
          position: absolute;
          left: 4.3556rem;
          top: 49.965rem;
          display: flex;
          align-items: flex-end;

          .lokasi-kerja-64y {
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            align-items: baseline;
            margin: 0rem 8.469rem 1.205rem 0rem;
            font-size: 2rem;
            flex-shrink: 0;
            display: flex;

            .lokasi-kerja-64y-sub-0 {
            }
            .lokasi-kerja-64y-sub-1 {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #e71010;
              font-family: Inter, 'Source Sans Pro';
            }
          }
          .kota-fnH {
            flex-shrink: 0;
            margin: 0rem 2.184rem 0.065rem 0rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
          .rectangle-716-CnD {
            width: 13.6746rem;
            height: 2.5647rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            margin-right: 3.1401rem;
          }
          .kecamatan-8fs {
            margin: 0rem 2.367rem 0.065rem 0rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rectangle-717-GGH {
            width: 13.6746rem;
            height: 2.5647rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
          }
        }
        .auto-group-m68y-C9w {
          width: 104.737rem;
          height: 26.8823rem;
          position: absolute;
          left: 3.9504rem;
          top: 59.749rem;
          display: flex;
          align-items: flex-start;

          .deskripsi-pekerjaan-7nh {
            max-width: 10.5rem;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0.57rem 9.657rem 0rem 0rem;

            .deskripsi-pekerjaan-7nh-sub-0 {
            }
            .deskripsi-pekerjaan-7nh-sub-1 {
              font-weight: 500;
              line-height: 1.2125;
              color: #e71010;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
            }
          }
          .rectangle-714-hku {
            height: 26.8823rem;
            border: solid 0.1rem #000000;
            box-sizing: border-box;
            background-color: #ffffff;
            border-radius: 1rem;
            flex-shrink: 0;
            width: 84.5797rem;
          }
        }
        .auto-group-t2yr-dPf {
          top: 91.0009rem;
          width: 105.1422rem;
          height: 19.663rem;
          position: absolute;
          left: 3.5453rem;

          .rectangle-718-kz5 {
            box-sizing: border-box;
            border: solid 0.1rem #000000;
            height: 19.663rem;
            position: absolute;
            left: 20.5624rem;
            top: 0;
            background-color: #ffffff;
            border-radius: 1rem;
            width: 84.5797rem;
          }
          .persyaratan-minimum-sYu {
            width: 21.3rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-size: 2rem;
            font-weight: 500;
            color: #000000;
            display: flex;
            height: 2.5rem;
            position: absolute;
            left: 0;
            top: 0.9499rem;
            align-items: baseline;

            .persyaratan-minimum-sYu-sub-0 {
            }
            .persyaratan-minimum-sYu-sub-1 {
              font-weight: 500;
              line-height: 1.2125;
              color: #ce2337;
              font-family: Inter, 'Source Sans Pro';
              font-size: 2rem;
            }
          }
        }
        .rincian-lowongan-fUm {
          width: 20.8rem;
          height: 2.5rem;
          position: absolute;
          left: 5.5712rem;
          top: 3.6096rem;
          color: #000000;
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .line-29-n3b {
          top: 7.0293rem;
          background-color: #000000;
          width: 26.8427rem;
          height: 0.1rem;
          position: absolute;
          left: 3.5453rem;
        }
        .group-45-X1B {
          height: 3.9896rem;
          justify-content: center;
          background: linear-gradient(180deg, #85d3a8 -0%, #49aec1 100%);
          top: 118.3rem;
          font-size: 2rem;
          border-radius: 1rem;
          align-items: center;
          position: absolute;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          width: 18.6379rem;
          cursor: pointer;
          left: 55.2048rem;
          font-weight: 600;
        }
      }
      .footer-xMP {
        background-color: #008a88;
        box-sizing: border-box;
        padding: 2.7rem 15.1rem 2.8rem 14rem;
        height: 7.9rem;
        position: absolute;
        top: 66.7rem;
        display: flex;
        width: 144rem;
        left: 0.7rem;
        align-items: center;

        .tentang-jobstreet-express-dTX {
          white-space: nowrap;
          font-weight: 400;
          color: #ffffff;
          font-size: 1.8rem;
          line-height: 1.3175;
          font-family: Roboto Slab, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 4.6rem;
          display: flex;
        }
        .pusat-bantuan-vhX {
          display: flex;
          font-size: 1.8rem;
          color: #ffffff;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 44.9rem;
          font-weight: 400;
          line-height: 1.3175;
        }
        .copyright-2023-jobstreet-express-Ey7 {
          font-weight: 400;
          line-height: 1.3175;
          color: #ffffff;
          font-family: Roboto Slab, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-size: 1.8rem;
        }
      }
      .tools-samping-kiri-kwT {
        width: 13.9286rem;
        height: 27.7714rem;
        position: absolute;
        left: 3.2rem;
        top: 10.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .daftar-permintaan-tools-samping-smB {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 1.264rem 1.943rem 1.264rem;
          width: calc(100% - 2.5286rem);

          .list-icon-zau {
            box-sizing: border-box;
            padding: 1rem 1.714rem 0.929rem 1.643rem;
            width: calc(100% - 4.1857rem);
            cursor: pointer;
            box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
            background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
            margin: 0rem 2.093rem 1.143rem 2.093rem;
            border-radius: 3.6071rem;
            flex-shrink: 0;

            .list-1-Jbb {
              vertical-align: top;
              width: 3.8571rem;
              height: 5.2857rem;
              object-fit: cover;
            }
          }
          .group-79-yBw {
            position: relative;
            flex-shrink: 0;
            width: 100%;
            height: 4.5572rem;

            .daftar-Kmb {
              position: absolute;
              left: 2.35rem;
              font-size: 2rem;
              font-weight: 400;
              color: #ffffff;
              font-family: Lalezar, 'Source Sans Pro';
              width: 6.7rem;
              height: 3.2rem;
              top: 0;
              text-align: center;
              line-height: 1.5675;
              white-space: nowrap;
            }
            .permintaan-2vu {
              width: 11.4rem;
              height: 3.2rem;
              left: 0;
              top: 1.3572rem;
              text-align: center;
              color: #ffffff;
              font-family: Lalezar, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              font-size: 2rem;
              font-weight: 400;
              line-height: 1.5675;
            }
          }
        }
        .jadwal-wawancara-tools-samping-9Vj {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0 1.0643rem;
          width: 100%;
          cursor: pointer;

          .calendar-ikon-Hbw {
            box-sizing: border-box;
            padding: 1.357rem 0rem 1.232rem 0rem;
            width: calc(100% - 4.5857rem);
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
            border-radius: 3.6071rem;
            flex-shrink: 0;
            margin: 0rem 2.293rem 1.143rem 2.293rem;

            .calendar-1-Pus {
              width: 6.2489rem;
              height: 4.625rem;
              object-fit: cover;
              vertical-align: top;
            }
          }
          .group-80-fMb {
            width: 100%;
            height: 4.5571rem;
            position: relative;
            flex-shrink: 0;

            .jadwal-R5s {
              font-weight: 400;
              width: 7.1rem;
              height: 3.2rem;
              position: absolute;
              left: 2.35rem;
              top: 0;
              text-align: center;
              font-size: 2rem;
              line-height: 1.5675;
              color: #ffffff;
              font-family: Lalezar, 'Source Sans Pro';
              white-space: nowrap;
            }
            .wawancara-w4D {
              height: 3.2rem;
              position: absolute;
              font-size: 2rem;
              font-weight: 400;
              color: #ffffff;
              font-family: Lalezar, 'Source Sans Pro';
              width: 11.8rem;
              left: 0;
              top: 1.3571rem;
              text-align: center;
              line-height: 1.5675;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .auto-group-8a65-EZ7 {
      padding: 6.1rem 21rem 6.2rem 21rem;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: #921414;
      flex-shrink: 0;
      box-sizing: border-box;

      .line-20-N9X {
        margin-right: 3rem;
        width: 18rem;
        height: 0.5rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .line-21-777 {
        width: 12rem;
        height: 0.5rem;
        background-color: #000000;
        flex-shrink: 0;
        margin-right: 51rem;
      }
      .line-22-dr9 {
        flex-shrink: 0;
        width: 18rem;
        height: 0.5rem;
        background-color: #000000;
      }
    }
  }
}
