
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 13.929rem;
}.tools-samping-kiri-3wo {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .daftar-permintaan-tools-samping-CZo {
    flex-shrink: 0;
    margin: 0rem 1.264rem 1.943rem 1.264rem;
    width: calc(100% - 2.5286rem);
    align-items: center;
    display: flex;
    flex-direction: column;

    .list-icon-uj7 {
      border-radius: 3.6071rem;
      flex-shrink: 0;
      margin: 0rem 2.093rem 1.143rem 2.093rem;
      cursor: pointer;
      width: calc(100% - 4.1857rem);
      box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
      background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
      box-sizing: border-box;
      padding: 1rem 1.714rem 0.929rem 1.643rem;

      .list-1-233 {
        object-fit: cover;
        vertical-align: top;
        width: 3.8571rem;
        height: 5.2857rem;
      }
    }
    .group-79-5n1 {
      width: 100%;
      height: 4.5572rem;
      position: relative;
      flex-shrink: 0;

      .daftar-3D3 {
        top: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 400;
        width: 6.7rem;
        height: 3.2rem;
        position: absolute;
        left: 2.35rem;
        color: #ffffff;
        white-space: nowrap;
        line-height: 1.5675;
        font-family: Lalezar, 'Source Sans Pro';
      }
      .permintaan-vnd {
        height: 3.2rem;
        text-align: center;
        font-weight: 400;
        line-height: 1.5675;
        white-space: nowrap;
        width: 11.4rem;
        position: absolute;
        left: 0;
        top: 1.3572rem;
        font-size: 2rem;
        color: #ffffff;
        font-family: Lalezar, 'Source Sans Pro';
      }
    }
  }
  .jadwal-wawancara-tools-samping-36Z {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0 1.0643rem;
    width: 100%;
    cursor: pointer;

    .calendar-ikon-yF7 {
      flex-shrink: 0;
      margin: 0rem 2.293rem 1.143rem 2.293rem;
      box-sizing: border-box;
      padding: 1.357rem 0rem 1.232rem 0rem;
      width: calc(100% - 4.5857rem);
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
      border-radius: 3.6071rem;

      .calendar-1-5Z3 {
        vertical-align: top;
        width: 6.2489rem;
        height: 4.625rem;
        object-fit: cover;
      }
    }
    .group-80-k9P {
      width: 100%;
      height: 4.5571rem;
      position: relative;
      flex-shrink: 0;

      .jadwal-hKX {
        text-align: center;
        font-size: 2rem;
        white-space: nowrap;
        width: 7.1rem;
        height: 3.2rem;
        position: absolute;
        top: 0;
        font-family: Lalezar, 'Source Sans Pro';
        left: 2.35rem;
        font-weight: 400;
        line-height: 1.5675;
        color: #ffffff;
      }
      .wawancara-nrm {
        color: #ffffff;
        font-family: Lalezar, 'Source Sans Pro';
        white-space: nowrap;
        width: 11.8rem;
        height: 3.2rem;
        left: 0;
        font-size: 2rem;
        line-height: 1.5675;
        position: absolute;
        top: 1.3571rem;
        text-align: center;
        font-weight: 400;
      }
    }
  }
}
