
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 50.2rem;
}.calendar-Gy7 {
  width: 100%;
  height: 54.3rem;
  position: relative;
}
.calendar-Gy7 .calendar-w-all-EQ9 {
  width: 50.2rem;
  height: 53.5rem;
  position: absolute;
  left: 0;
  top: 0.8rem;
}
.calendar-Gy7 .calendar-w-all-EQ9 .auto-group-szux-xb3 {
  margin-left: 0.5rem;
  width: 23.3rem;
  height: 4.7rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  font-family: Jockey One, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #004f3f -0%, #004f3f 100%);
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m {
  box-sizing: border-box;
  padding: 3rem 3rem 2.1rem 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.2767rem 0.2214rem rgba(0, 0, 0, 0.0196801927), 0 0.665rem 0.532rem rgba(0, 0, 0, 0.0282724928), 0 1.2522rem 1.0017rem rgba(0, 0, 0, 0.0350000001), 0 2.2336rem 1.7869rem rgba(0, 0, 0, 0.0417275056), 0 4.1778rem 3.3422rem rgba(0, 0, 0, 0.0503198057), 0 10rem 8rem rgba(0, 0, 0, 0.0700000003);
  background-color: #fdfdfd;
  border-radius: 1.6rem;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .header-Z53 {
  margin-bottom: 3.55rem;
  width: 100%;
  height: 4.6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .header-Z53 .may-2023-hS9 {
  margin: 0.1rem 24rem 0rem 0rem;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .header-Z53 .frame-9-1xd {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .header-Z53 .frame-9-1xd .chevron-BcD {
  margin-right: 2.7rem;
  width: 0.8rem;
  height: 1.4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .header-Z53 .frame-9-1xd .chevron-KTX {
  width: 4.6rem;
  height: 4.6rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .row-pQH {
  margin: 0rem 2.3rem 2.25rem 2.1rem;
  width: calc(100% - 4.4rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .row-pQH .mo-wzh {
  margin-right: 4.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .row-pQH .tu-5LD {
  margin-right: 4.35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .row-pQH .we-C9w {
  margin-right: 4.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .row-pQH .th-KkM {
  margin-right: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .row-pQH .fr-3gM {
  margin-right: 4.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .row-pQH .sa-ypu {
  margin-right: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .row-pQH .su-WZw {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs {
  width: 100%;
  height: 31.6rem;
  position: relative;
  flex-shrink: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-bLV {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-bLV .cell-jhb {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-bLV .cell-1QD {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-bLV .cell-V4V {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-bLV .cell-mGu {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-bLV .cell-Sdw {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-bLV .cell-j7F {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-bLV .cell-REy {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-JZf {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 6.3rem;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-JZf .cell-EiD {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-JZf .cell-XBX {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-JZf .cell-1cV {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-JZf .cell-VnZ {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-JZf .cell-nmf {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-JZf .cell-5km {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-JZf .cell-AnD {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-TWR {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 12.6rem;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-TWR .cell-yzZ {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-TWR .cell-sa9 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-TWR .cell-MkD {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-TWR .cell-T2Z {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #45539d;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-TWR .cell-ijB {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-TWR .cell-1iH {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-TWR .cell-Wf3 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-oe9 {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 18.9rem;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-oe9 .cell-Le5 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-oe9 .cell-EjT {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-oe9 .cell-Wws {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-oe9 .cell-zMF {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-oe9 .cell-5Nh {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-oe9 .cell-Af3 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-oe9 .cell-4VX {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-A2m {
  width: 44.2rem;
  height: 6.4rem;
  position: absolute;
  left: 0;
  top: 25.2rem;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-A2m .cell-g17 {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-A2m .cell-Zah {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.3rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-A2m .cell-ERw {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  position: absolute;
  left: 12.6rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-A2m .cell-ZsX {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 18.9rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-A2m .cell-e8H {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 25.2rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-A2m .cell-8JM {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 31.5rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.calendar-Gy7 .calendar-w-all-EQ9 .calendar-E2m .days-fGV .auto-group-meyy-3Zs .row-A2m .cell-czD {
  width: 6.4rem;
  height: 6.4rem;
  position: absolute;
  left: 37.8rem;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #a7a7a7;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  border: solid 0.1rem #d4d4df;
  box-sizing: border-box;
  background-color: #f2f2f7;
}
.calendar-Gy7 .cancelpresentation-YFb {
  width: 4.7rem;
  height: 4.7rem;
  position: absolute;
  left: 44.2rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
