
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-click-masuk-ums {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 35.7rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K {
  width: 144rem;
  height: 27.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u {
  box-sizing: border-box;
  padding: 0rem 6.6rem 0.3rem 4.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-grpt-2k1 {
  margin-bottom: 0.2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-grpt-2k1 .auto-group-1xxh-yfF {
  margin: 0rem 15.1rem 0.3rem 0rem;
  width: 29.8rem;
  height: 12.8rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-grpt-2k1 .auto-group-1xxh-yfF .logo-removebg-preview-1-tXK {
  width: 29.8rem;
  height: 10.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-grpt-2k1 .auto-group-1xxh-yfF .nama-pekerjaan-1rq {
  width: 14.5rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 10.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-grpt-2k1 .di-mana-iuf {
  margin-right: 74.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-grpt-2k1 .masuk-qzH {
  margin-bottom: 6.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-b62u-wXX {
  margin-bottom: 4rem;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-b62u-wXX .auto-group-umeq-gV7 {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 1rem 1.2rem 1rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-b62u-wXX .auto-group-umeq-gV7 .nama-pekerjaan-atau-perusahaan-QAD {
  margin-right: 8.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #b0aaaa;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-b62u-wXX .auto-group-umeq-gV7 .icon-search-outline-7KX {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-b62u-wXX .auto-group-guw9-PXw {
  margin-right: 3.1rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-b62u-wXX .auto-group-guw9-PXw .nama-kota-atau-provinsi-KRb {
  margin-right: 14.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #b0aaaa;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-b62u-wXX .auto-group-guw9-PXw .icon-pin-outline-2qo {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-b62u-wXX .bottom-9Qd {
  width: 21rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-tmn9-BMK {
  margin: 0rem 85.3rem 0rem 1.8rem;
  box-sizing: border-box;
  padding: 0.2rem 2.555rem 0rem 2.5rem;
  width: calc(100% - 87.1rem);
  height: 3.6rem;
  display: flex;
  align-items: center;
  border-left: solid 0.1rem #777777;
  border-right: solid 0.1rem #777777;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-tmn9-BMK .semua-jenis-pekerjaan-sE9 {
  margin: 0rem 0.4rem 0.4rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-tmn9-BMK .auto-group-yfyk-yny {
  margin-right: 2.4547rem;
  width: 20.5453rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-tmn9-BMK .auto-group-yfyk-yny .line-171-8A5 {
  width: 0.1rem;
  height: 3.4rem;
  position: absolute;
  left: 5.5rem;
  top: 0;
  background-color: #777777;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-tmn9-BMK .auto-group-yfyk-yny .kapan-saja-2WM {
  width: 9.6rem;
  height: 2.4rem;
  position: absolute;
  left: 8rem;
  top: 0.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-tmn9-BMK .auto-group-yfyk-yny .icon-arrow-ios-downward-8pH {
  width: 3.5rem;
  height: 2.9878rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .header-n-navbar-variant2-a7K .background-header-K4u .auto-group-tmn9-BMK .auto-group-yfyk-yny .icon-arrow-ios-downward-4xq {
  width: 20.5453rem;
  height: 2.9878rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .button-pilihan-role-H4u {
  width: 27rem;
  height: 31.4rem;
  position: absolute;
  left: 117rem;
  top: 4.1rem;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .button-pilihan-role-H4u .rectangle-626-nnM {
  width: 12.6rem;
  height: 7rem;
  position: absolute;
  left: 12.4rem;
  top: 0;
  box-shadow: inset 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25));
  background-color: #ffffff;
  border-radius: 2rem;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .button-pilihan-role-H4u .rectangle-626-soo {
  width: 27rem;
  height: 26.4rem;
  position: absolute;
  left: 0;
  top: 5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .button-pilihan-role-H4u .masuk-BpV {
  width: 5.9rem;
  height: 2.4rem;
  position: absolute;
  left: 16.2rem;
  top: 1.5rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .button-pilihan-role-H4u .masuk-sebagai--tD7 {
  width: 8.9rem;
  height: 1.6rem;
  position: absolute;
  left: 1.6rem;
  top: 14.1rem;
  display: flex;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .button-pilihan-role-H4u .logo-removebg-preview-2-BCD {
  width: 19.3rem;
  height: 6.8rem;
  position: absolute;
  left: 3.9rem;
  top: 6.6rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .button-pilihan-role-H4u .button-pilihan-masuk-64H {
  width: 23.9rem;
  height: 3.7rem;
  position: absolute;
  left: 1.6rem;
  top: 17.3rem;
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #015443 4.18%, #03866b 100%);
  border-radius: 1rem;
}
.pemberi-kerja-click-masuk-ums .auto-group-ii8q-SG1 .button-pilihan-role-H4u .button-pilihan-masuk2-7VB {
  width: 23.9rem;
  height: 3.7rem;
  cursor: pointer;
  position: absolute;
  left: 1.6rem;
  top: 23.2rem;
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #015443 4.18%, #03866b 100%);
  border-radius: 1rem;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 {
  margin: 0rem 13.6rem 11.8rem 14rem;
  width: calc(100% - 27.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .auto-group-dhiy-QMo {
  margin: 0rem 80.5rem 2.336rem 0rem;
  width: calc(100% - 80.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .auto-group-dhiy-QMo .icon-trending-up-vqw {
  margin-right: 1.1607rem;
  width: 4.1393rem;
  height: 4.3636rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .auto-group-dhiy-QMo .lowongan-yang-sering-dicari-fHj {
  margin-top: 0.1364rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #015442;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP {
  margin: 0rem 0rem 4.8rem 0.5rem;
  height: 16.2rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-c3vb-5cM {
  margin: 0rem 2.838rem 0.022rem 0rem;
  width: 13.1625rem;
  height: calc(100% - 0.0215rem);
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-c3vb-5cM .jabatan-zDX {
  margin-bottom: 1.9rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-c3vb-5cM .auto-group-uhjq-urH {
  margin: 0rem 0rem 2.422rem 0.2rem;
  box-sizing: border-box;
  padding: 0.8rem 2.463rem 0.808rem 0.6rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-c3vb-5cM .auto-group-uhjq-urH .icon-pie-chart-2-QHF {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-c3vb-5cM .auto-group-uhjq-urH .admin-LAu {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-c3vb-5cM .auto-group-ndyb-EGH {
  margin-left: 0.2rem;
  box-sizing: border-box;
  padding: 0.8rem 2.263rem 0.808rem 0.6rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-c3vb-5cM .auto-group-ndyb-EGH .icon-pie-chart-2-jTw {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-c3vb-5cM .auto-group-ndyb-EGH .barista-fMb {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-e7nz-jcM {
  margin-right: 2.7rem;
  width: 10.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-e7nz-jcM .auto-group-rzbt-Upq {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-e7nz-jcM .auto-group-rzbt-Upq .icon-pie-chart-2-Ckq {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-e7nz-jcM .auto-group-rzbt-Upq .kasir-9AH {
  margin-bottom: 0.2708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-e7nz-jcM .auto-group-pxx5-e73 {
  box-sizing: border-box;
  padding: 0.8rem 0.9rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-e7nz-jcM .auto-group-pxx5-e73 .icon-pie-chart-2-NYq {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-e7nz-jcM .auto-group-pxx5-e73 .driver-6jj {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-8da1-z4R {
  margin-right: 2.8rem;
  width: 19.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-8da1-z4R .auto-group-phzy-8Ad {
  margin: 0rem 0rem 2.4rem 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 1.7rem 0.829rem 0.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-8da1-z4R .auto-group-phzy-8Ad .icon-pie-chart-2-Qtq {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-8da1-z4R .auto-group-phzy-8Ad .staff-marketing-kC1 {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-8da1-z4R .auto-group-etum-dmb {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 2.3rem 0.829rem 0.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-8da1-z4R .auto-group-etum-dmb .icon-pie-chart-2-MSh {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-8da1-z4R .auto-group-etum-dmb .quality-control-gUy {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-hxad-mWR {
  margin-right: 2.8rem;
  width: 20.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-hxad-mWR .auto-group-f4u9-7aH {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.4rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-hxad-mWR .auto-group-f4u9-7aH .icon-pie-chart-2-Euo {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-hxad-mWR .auto-group-f4u9-7aH .staff-accounting-BKF {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-hxad-mWR .auto-group-5owx-UZF {
  box-sizing: border-box;
  padding: 0.8rem 2.5rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-hxad-mWR .auto-group-5owx-UZF .icon-pie-chart-2-QSu {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-hxad-mWR .auto-group-5owx-UZF .content-creator-jEH {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-67sr-cos {
  margin-right: 2.3rem;
  width: 17.2rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-67sr-cos .auto-group-rpvf-Zj7 {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-67sr-cos .auto-group-rpvf-Zj7 .icon-pie-chart-2-tWV {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-67sr-cos .auto-group-rpvf-Zj7 .staff-gudang-Qjj {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-67sr-cos .auto-group-xkth-JaD {
  margin-right: 6.4rem;
  box-sizing: border-box;
  padding: 0.8rem 2.2rem 0.829rem 0.6rem;
  width: calc(100% - 6.4rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-67sr-cos .auto-group-xkth-JaD .icon-pie-chart-2-DBP {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-67sr-cos .auto-group-xkth-JaD .host-wt5 {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-4sfj-F85 {
  margin: 4.8rem 0rem 6.9rem 0rem;
  box-sizing: border-box;
  padding: 0.8rem 1.1rem 0.829rem 1.1rem;
  height: calc(100% - 11.7rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-4sfj-F85 .icon-pie-chart-2-k4q {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-90-AVP .auto-group-4sfj-F85 .customer-service-5N1 {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 {
  margin-left: 0.7rem;
  width: 111.8rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .perusahaan-JkZ {
  margin-bottom: 1.9rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-wzch-S65 {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-wzch-S65 .group-88-y61 {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 0.9rem 0.7rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-wzch-S65 .group-88-y61 .emoji-office-building-HsP {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-wzch-S65 .group-88-y61 .ganesha-operation-surabaya-dsk-dAZ {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-wzch-S65 .auto-group-hgad-JnV {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-wzch-S65 .auto-group-hgad-JnV .emoji-office-building-qGd {
  margin-right: 0.9rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-wzch-S65 .auto-group-hgad-JnV .pt-media-telekomunikasi-mandiri-AZo {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-wzch-S65 .auto-group-wbih-rSd {
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-wzch-S65 .auto-group-wbih-rSd .emoji-office-building-Bzh {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-wzch-S65 .auto-group-wbih-rSd .pt-arta-boga-boga-cemerlang-iUq {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd {
  display: flex;
  align-items: flex-end;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-5jwd-kRX {
  margin: 0.2rem 3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 2.2rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-5jwd-kRX .emoji-office-building-f2h {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-5jwd-kRX .cv-berlian-retail-PjP {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-xdop-HZs {
  margin: 0.2rem 3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 1.7rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-xdop-HZs .emoji-office-building-bqT {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-xdop-HZs .panara-course-weR {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-ap1s-d1T {
  margin: 0.2rem 3.2rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 1.4rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-ap1s-d1T .emoji-office-building-LAm {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-ap1s-d1T .bali-super-host-FoX {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-zxds-wwF {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding: 1.1rem 1.7rem 0.7rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-zxds-wwF .emoji-office-building-Gid {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .yang-sering-dicari-6c1 .group-89-NM7 .auto-group-xdey-bYd .auto-group-zxds-wwF .angonjiwo-cGh {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .footer-g1f {
  margin-bottom: 0;
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #008a88;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .footer-g1f .tentang-jobstreet-express-zY9 {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .footer-g1f .pusat-bantuan-5pV {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .footer-g1f .copyright-2023-jobstreet-express-p1P {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .rectangle-594-Kiq {
  margin: 0rem 0.2rem 35.9rem 0rem;
  width: 144.5rem;
  height: 35.5rem;
  background-color: #8c8989;
  flex-shrink: 0;
}
.pemberi-kerja-click-masuk-ums .auto-group-qepb-FMb {
  width: 100%;
  height: 12.8rem;
  background-color: #999393;
  border-top: solid 0.5rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
