
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-cari-karyawan-xTB {
  width: 100%;
  height: 102.4rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ {
  width: 100%;
  height: 100%;
  position: relative;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .rectangle-606-PS1 {
  width: 2.1rem;
  height: 6.2rem;
  position: absolute;
  left: 140.9rem;
  top: 55.5rem;
  background-color: #bdbdbd;
  border-radius: 1.5rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq {
  margin-bottom: 18.2rem;
  width: 145.1rem;
  height: 102.4rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .masuk-bwP {
  width: 7.5rem;
  height: 3rem;
  position: absolute;
  left: 133.6rem;
  top: 15rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .rectangle-605-5Lm {
  width: 2.1rem;
  height: 81.2rem;
  position: absolute;
  left: 142.9rem;
  top: 16.4rem;
  background-color: rgba(0, 0, 0, 0.150000006);
  border-radius: 1.5rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .rectangle-595-At1 {
  width: 145.1rem;
  height: 17.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90.47deg, #01d589 4.1%, #1dcba9 97.04%);
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .user-thumb-GRF {
  width: 4.6162rem;
  height: 4.6162rem;
  position: absolute;
  left: 129rem;
  top: 11.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4.8472rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .brosur-lowongan-BYD {
  width: 15.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 26.8rem;
  top: 14rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .logo-jobstreet-variant2-svq {
  width: 29.1rem;
  height: 10.9rem;
  cursor: pointer;
  position: absolute;
  left: 6rem;
  top: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .logo-jobstreet-variant2-svq .logo-removebg-preview-2-p5P {
  width: 29.1rem;
  height: 10.9rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .rectangle-574-LJd {
  width: 38.2rem;
  height: 5.4rem;
  position: absolute;
  left: 88.6rem;
  top: 10.8rem;
  border: solid 0.1rem #0e8136;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .rectangle-606-1Qm {
  width: 2.1rem;
  height: 6.2rem;
  position: absolute;
  left: 142.9rem;
  top: 18rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .footer-vnd {
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 144rem;
  height: 7.9rem;
  position: absolute;
  left: 1.1rem;
  top: 94.5rem;
  display: flex;
  align-items: center;
  background-color: #008a88;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .footer-vnd .tentang-jobstreet-express-oLd {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .footer-vnd .pusat-bantuan-pQ9 {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-jea5-6Uq .footer-vnd .copyright-2023-jobstreet-express-jGD {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .rectangle-594-DSH {
  margin: 0rem 0.2rem 36.2rem 0rem;
  width: 144.5rem;
  height: 35.5rem;
  background-color: #44abc3;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-yjxd-L17 {
  box-sizing: border-box;
  padding: 6.1rem 21rem 6.2rem 21rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #921414;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-yjxd-L17 .line-20-e1o {
  margin-right: 3rem;
  width: 18rem;
  height: 0.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-yjxd-L17 .line-21-ZeZ {
  margin-right: 51rem;
  width: 12rem;
  height: 0.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .preset-VE9 .auto-group-yjxd-L17 .line-22-hkm {
  width: 18rem;
  height: 0.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b {
  width: 127.9rem;
  height: 81.7rem;
  position: absolute;
  left: 2.7rem;
  top: 19.9rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-dwxh-AuF {
  margin-bottom: 3.5rem;
  box-sizing: border-box;
  padding: 2.2rem 4.3rem 1.7rem 3.4rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-dwxh-AuF .cari-karyawan-Uf3 {
  margin: 0rem 4.7rem 0.8rem 0rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-dwxh-AuF .auto-group-x2g9-m8M {
  margin: 0.1rem 56rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.5rem 1.4rem 0.7rem 1.4rem;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-dwxh-AuF .auto-group-x2g9-m8M .search-Tms {
  width: 2.4rem;
  height: 2.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-dwxh-AuF .auto-group-dpwh-nJM {
  margin-bottom: 0.1rem;
  width: 27.6rem;
  height: 3.6rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-dwxh-AuF .auto-group-dpwh-nJM .submit-iho {
  width: 6.1rem;
  height: 2.2rem;
  position: absolute;
  left: 18.4rem;
  top: 0.1rem;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-dwxh-AuF .auto-group-dpwh-nJM .digital-connectivity-d45 {
  width: 27.6rem;
  height: 3.6rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1975;
  color: #000000;
  font-family: Inria Serif, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 {
  width: 100%;
  height: 70.6rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .rectangle-617-SXK {
  width: 116.7rem;
  height: 70.6rem;
  position: absolute;
  left: 11.2rem;
  top: 0;
  background-color: #ffffff;
  border-radius: 2rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamar-Zrq {
  box-sizing: border-box;
  padding: 2.1rem 3.2rem 1rem 2.6rem;
  width: 108.1rem;
  height: 13.8rem;
  position: absolute;
  left: 14.4rem;
  top: 4.7rem;
  display: flex;
  align-items: flex-end;
  background-color: #ecf5e5;
  border-radius: 2rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamar-Zrq .foto-profil-Fjf {
  margin: 0rem 3.7rem 1.1rem 0rem;
  box-sizing: border-box;
  padding: 0.64rem 0.707rem 0.64rem 0.707rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-121.png');
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamar-Zrq .foto-profil-Fjf .ellipse-125-mi1 {
  width: 9.1867rem;
  height: 8.32rem;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamar-Zrq .ratna-firdaus-081234567890-gresik-JC9 {
  margin: 0rem 45.3rem 1.3rem 0rem;
  max-width: 14.7rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamar-Zrq .button-acc-C2d {
  margin-right: 1rem;
  width: 13.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4154;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamar-Zrq .button-acc-4Kj {
  width: 13.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4baea0;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarcessa-jwf {
  box-sizing: border-box;
  padding: 2.1rem 3.2rem 1rem 2.6rem;
  width: 108.1rem;
  height: 13.8rem;
  position: absolute;
  left: 14.7rem;
  top: 23.8rem;
  display: flex;
  align-items: flex-end;
  background-color: #ecf5e5;
  border-radius: 2rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarcessa-jwf .foto-profil-RZb {
  margin: 0rem 3.7rem 1.1rem 0rem;
  box-sizing: border-box;
  padding: 0.64rem 0.707rem 0.64rem 0.707rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-121-ujF.png');
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarcessa-jwf .foto-profil-RZb .ellipse-125-LgZ {
  width: 9.1867rem;
  height: 8.32rem;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarcessa-jwf .lady-cessa-nadinda-082221008008-surabaya-Gq7 {
  margin: 0rem 38.8rem 1.3rem 0rem;
  max-width: 21.2rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarcessa-jwf .button-acc-m1B {
  margin-right: 1rem;
  width: 13.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4154;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarcessa-jwf .button-acc-pk9 {
  width: 13.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4baea0;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarkartika-VbP {
  box-sizing: border-box;
  padding: 2.1rem 3.2rem 1rem 2.6rem;
  width: 108.1rem;
  height: 13.8rem;
  position: absolute;
  left: 14.9rem;
  top: 43.9rem;
  display: flex;
  align-items: flex-end;
  background-color: #ecf5e5;
  border-radius: 2rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarkartika-VbP .foto-profil-n4h {
  margin: 0rem 3.7rem 1.1rem 0rem;
  box-sizing: border-box;
  padding: 0.64rem 0.707rem 0.64rem 0.707rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-121-EwK.png');
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarkartika-VbP .foto-profil-n4h .ellipse-125-6LH {
  width: 9.1867rem;
  height: 8.32rem;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarkartika-VbP .kartika-nur-0852634926442-kupang-ntt-RtM {
  margin: 0rem 44rem 1.3rem 0rem;
  max-width: 16rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarkartika-VbP .button-acc-w61 {
  margin-right: 1rem;
  width: 13.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #db4154;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-F1b .auto-group-lvjq-JR7 .daftar-pelamarkartika-VbP .button-acc-cxq {
  width: 13.5rem;
  height: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4baea0;
  border-radius: 2rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .footer-Jam {
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 144rem;
  height: 7.9rem;
  position: absolute;
  left: 0;
  top: 94.5rem;
  display: flex;
  align-items: center;
  background-color: #008a88;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .footer-Jam .tentang-jobstreet-express-mz9 {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .footer-Jam .pusat-bantuan-5jw {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .footer-Jam .copyright-2023-jobstreet-express-D5T {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .rectangle-700-uiy {
  width: 20rem;
  height: 4rem;
  position: absolute;
  left: 62rem;
  top: 13.1rem;
  background-color: #381c88;
  border-radius: 1rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .group-30-pqw {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 80.4rem;
  top: 11.4rem;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .group-30-pqw .ellipse-87-xSM {
  width: 2.5rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .group-30-pqw .item-3-JFK {
  width: 1.2rem;
  height: 2.2rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .wawancara-QZF {
  width: 10.2rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 45.7rem;
  top: 14.1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .daftar-permintaan-7yT {
  width: 15.9rem;
  height: 2.2rem;
  position: absolute;
  left: 63.9rem;
  top: 14.1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu {
  width: 13.9286rem;
  height: 27.7714rem;
  position: absolute;
  left: 0.1rem;
  top: 37.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .daftar-permintaan-tools-samping-m2R {
  margin: 0rem 1.264rem 1.943rem 1.264rem;
  width: calc(100% - 2.5286rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .daftar-permintaan-tools-samping-m2R .list-icon-g9P {
  margin: 0rem 2.093rem 1.143rem 2.093rem;
  box-sizing: border-box;
  padding: 1rem 1.714rem 0.929rem 1.643rem;
  width: calc(100% - 4.1857rem);
  cursor: pointer;
  box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
  background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
  border-radius: 3.6071rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .daftar-permintaan-tools-samping-m2R .list-icon-g9P .list-1-B69 {
  width: 3.8571rem;
  height: 5.2857rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .daftar-permintaan-tools-samping-m2R .group-79-RWH {
  width: 100%;
  height: 4.5572rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .daftar-permintaan-tools-samping-m2R .group-79-RWH .daftar-BEZ {
  width: 6.7rem;
  height: 3.2rem;
  position: absolute;
  left: 2.35rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .daftar-permintaan-tools-samping-m2R .group-79-RWH .permintaan-tem {
  width: 11.4rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 1.3572rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .jadwal-wawancara-tools-samping-b3P {
  box-sizing: border-box;
  padding: 0 1.0643rem;
  width: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .jadwal-wawancara-tools-samping-b3P .calendar-ikon-7XX {
  margin: 0rem 2.293rem 1.143rem 2.293rem;
  box-sizing: border-box;
  padding: 1.357rem 0rem 1.232rem 0rem;
  width: calc(100% - 4.5857rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
  border-radius: 3.6071rem;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .jadwal-wawancara-tools-samping-b3P .calendar-ikon-7XX .calendar-1-RYD {
  width: 6.2489rem;
  height: 4.625rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .jadwal-wawancara-tools-samping-b3P .group-80-H4d {
  width: 100%;
  height: 4.5571rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .jadwal-wawancara-tools-samping-b3P .group-80-H4d .jadwal-2nu {
  width: 7.1rem;
  height: 3.2rem;
  position: absolute;
  left: 2.35rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .tools-samping-kiri-dgu .jadwal-wawancara-tools-samping-b3P .group-80-H4d .wawancara-9sX {
  width: 11.8rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 1.3571rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-cari-karyawan-xTB .group-51-HEZ .keluar-dw7 {
  width: 5.8rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 135rem;
  top: 12.1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
