
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-new-GHf {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.pemberi-kerja-new-GHf .header-pt-kyX {
  margin-bottom: 9.8rem;
  width: 145.1rem;
  height: 18rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .header-pt-kyX .masuk-gMP {
  width: 7.5rem;
  height: 3rem;
  position: absolute;
  left: 132.5rem;
  top: 15rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .header-pt-kyX .rectangle-700-aBs {
  width: 145.1rem;
  height: 17.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #98dfa0 -0%, #42aac4 100%);
}
.pemberi-kerja-new-GHf .header-pt-kyX .rectangle-702-h1b {
  width: 145.1rem;
  height: 17.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90.59deg, #01d589 2.03%, #1dcba9 98.17%);
}
.pemberi-kerja-new-GHf .header-pt-kyX .user-thumb-oaR {
  width: 4.6162rem;
  height: 4.6162rem;
  position: absolute;
  left: 127.9rem;
  top: 11.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4.8472rem;
}
.pemberi-kerja-new-GHf .header-pt-kyX .brosur-lowongan-vQ9 {
  width: 15.2rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 25.7rem;
  top: 13.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .header-pt-kyX .wawancara-1wP {
  width: 10.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 46.5rem;
  top: 13.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .header-pt-kyX .daftar-permintaan-8FK {
  width: 15.9rem;
  height: 2.4rem;
  position: absolute;
  left: 64.8rem;
  top: 13.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .header-pt-kyX .keluar-S17 {
  width: 5.8rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 135.4rem;
  top: 12.6rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .header-pt-kyX .group-31-XoF {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 79.8rem;
  top: 11.6rem;
}
.pemberi-kerja-new-GHf .header-pt-kyX .group-31-XoF .ellipse-87-GF3 {
  width: 2.5rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-new-GHf .header-pt-kyX .group-31-XoF .item-4-njB {
  width: 1rem;
  height: 2.4rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .header-pt-kyX .logo-removebg-preview-2-tGR {
  width: 29.1rem;
  height: 10.9rem;
  position: absolute;
  left: 4.9rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-new-GHf .header-pt-kyX .rectangle-701-R1T {
  width: 38.2rem;
  height: 5.4rem;
  position: absolute;
  left: 87.5rem;
  top: 10.8rem;
  border: solid 0.1rem #0e8136;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ {
  margin: 0rem 0rem 4.3rem 0.1rem;
  width: 140.7rem;
  height: 62.4rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ {
  box-sizing: border-box;
  padding: 1.4rem 2.7rem 1.7rem 2.7rem;
  width: 126.8rem;
  height: 62.4rem;
  position: absolute;
  left: 13.9rem;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/image-33-bg.png');
  border-radius: 10rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ .selamat-datang-telkom-indonesia--vsK {
  margin: 0rem 0rem 1.2rem 1.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.4;
  color: #000000;
  font-family: Jockey One, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ .auto-group-opmb-dmj {
  margin: 0rem 12.4rem 3.4rem 3.5rem;
  box-sizing: border-box;
  padding: 1.4rem 5.7rem 1.1rem 1.6rem;
  width: calc(100% - 15.9rem);
  height: 6.7rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 2rem;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ .auto-group-opmb-dmj .profil-perusahaan-vkq {
  margin: 0rem 58.8rem 0.1rem 0rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ .auto-group-opmb-dmj .auto-group-lvcr-EmX {
  width: 18.4rem;
  height: 100%;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #699bf7;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ .auto-group-l4id-5n9 {
  margin-right: 7.3rem;
  width: calc(100% - 7.3rem);
  height: 44.6rem;
  display: flex;
  align-items: flex-start;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ .auto-group-l4id-5n9 .auto-group-5cem-R5K {
  margin: 1.1rem 4.3rem 0rem 0rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ .auto-group-l4id-5n9 .auto-group-5cem-R5K .telkom-tel-1-iq7 {
  margin-bottom: 4.65rem;
  width: 22rem;
  height: 19.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ .auto-group-l4id-5n9 .auto-group-5cem-R5K .pt-telkom-indonesia-tbk-48H {
  margin-right: 1.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ .auto-group-l4id-5n9 .auto-group-ozqv-mHb {
  box-sizing: border-box;
  padding: 4.5rem 2.9rem 4.5rem 4.2rem;
  height: 100%;
  border: solid 0.1rem #000000;
  background-color: rgba(255, 255, 255, 0.6200000048);
  border-radius: 3.7rem;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .background-header-RvZ .auto-group-l4id-5n9 .auto-group-ozqv-mHb .pt-telkom-indonesia-persero-tbk-telkom-adalah-badan-usaha-milik-negara-bumn-yang-bergerak-di-bidang-jasa-layanan-teknologi-informasi-dan-komunikasi-tik-dan-jaringan-telekomunikasi-di-indonesia-pemegang-saham-mayoritas-telkom-adalah-pemerintah-republik-indonesia-sebesar-5209-sedangkan-4791-sisanya-dikuasai-oleh-publik-saham-telkom-diperdagangkan-di-bursa-efek-indonesia-bei-dengan-kode-tlkm-dan-new-york-stock-exchange-nyse-dengan-kode-tlk-6Ks {
  max-width: 79.2rem;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM {
  width: 13.9286rem;
  height: 27.7714rem;
  position: absolute;
  left: 0;
  top: 14rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .daftar-permintaan-tools-samping-Rey {
  margin: 0rem 1.264rem 1.943rem 1.264rem;
  width: calc(100% - 2.5286rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .daftar-permintaan-tools-samping-Rey .list-icon-wNR {
  margin: 0rem 2.093rem 1.143rem 2.093rem;
  box-sizing: border-box;
  padding: 1rem 1.714rem 0.929rem 1.643rem;
  width: calc(100% - 4.1857rem);
  cursor: pointer;
  box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
  background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
  border-radius: 3.6071rem;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .daftar-permintaan-tools-samping-Rey .list-icon-wNR .list-1-eXj {
  width: 3.8571rem;
  height: 5.2857rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .daftar-permintaan-tools-samping-Rey .group-79-XLd {
  width: 100%;
  height: 4.5572rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .daftar-permintaan-tools-samping-Rey .group-79-XLd .daftar-gjK {
  width: 6.7rem;
  height: 3.2rem;
  position: absolute;
  left: 2.35rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .daftar-permintaan-tools-samping-Rey .group-79-XLd .permintaan-nnM {
  width: 11.4rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 1.3572rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .jadwal-wawancara-tools-samping-u6H {
  box-sizing: border-box;
  padding: 0 1.0643rem;
  width: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .jadwal-wawancara-tools-samping-u6H .calendar-ikon-pDF {
  margin: 0rem 2.293rem 1.143rem 2.293rem;
  box-sizing: border-box;
  padding: 1.357rem 0rem 1.232rem 0rem;
  width: calc(100% - 4.5857rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
  border-radius: 3.6071rem;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .jadwal-wawancara-tools-samping-u6H .calendar-ikon-pDF .calendar-1-X7f {
  width: 6.2489rem;
  height: 4.625rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .jadwal-wawancara-tools-samping-u6H .group-80-ard {
  width: 100%;
  height: 4.5571rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .jadwal-wawancara-tools-samping-u6H .group-80-ard .jadwal-8t9 {
  width: 7.1rem;
  height: 3.2rem;
  position: absolute;
  left: 2.35rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .auto-group-zvd7-hzZ .tools-samping-kiri-JaM .jadwal-wawancara-tools-samping-u6H .group-80-ard .wawancara-f7P {
  width: 11.8rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 1.3571rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-new-GHf .footer-A49 {
  margin-bottom: 0;
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #008a88;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .footer-A49 .tentang-jobstreet-express-5gu {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .footer-A49 .pusat-bantuan-ocu {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .footer-A49 .copyright-2023-jobstreet-express-wDK {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .rectangle-594-edX {
  margin-bottom: 35.9rem;
  width: 144.5rem;
  height: 35.5rem;
  background-color: #8c8989;
  flex-shrink: 0;
}
.pemberi-kerja-new-GHf .auto-group-ns3o-njj {
  width: 100%;
  height: 12.8rem;
  background-color: #999393;
  border-top: solid 0.5rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
