
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberi-kerja-rincian-lowongan-jxd {
  width: 100%;
  height: 102.4rem;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #e3e3e3;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH {
  margin-bottom: 10rem;
  width: 145.1rem;
  height: 18rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .masuk-YQH {
  width: 7.5rem;
  height: 3rem;
  position: absolute;
  left: 133.6rem;
  top: 15rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .rectangle-700-Riy {
  width: 145.1rem;
  height: 17.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #98dfa0 -0%, #42aac4 100%);
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .rectangle-702-jjf {
  width: 145.1rem;
  height: 17.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(90.59deg, #01d589 2.03%, #1dcba9 98.17%);
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .user-thumb-erd {
  width: 4.6162rem;
  height: 4.6162rem;
  position: absolute;
  left: 129rem;
  top: 11.2rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 4.8472rem;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .group-31-yP7 {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 80.9rem;
  top: 11.6rem;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .logo-jobstreet-variant2-6id {
  width: 29.1rem;
  height: 10.9rem;
  cursor: pointer;
  position: absolute;
  left: 6rem;
  top: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .logo-jobstreet-variant2-6id .logo-removebg-preview-2-2sB {
  width: 29.1rem;
  height: 10.9rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .rectangle-701-ZcD {
  width: 38.2rem;
  height: 5.4rem;
  position: absolute;
  left: 88.6rem;
  top: 10.8rem;
  border: solid 0.1rem #0e8136;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .group-31-TxV {
  width: 2.5rem;
  height: 2.4rem;
  position: absolute;
  left: 77.2rem;
  top: 12.6rem;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .group-31-TxV .ellipse-87-Cv5 {
  width: 2.5rem;
  height: 2.3rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  object-fit: contain;
  vertical-align: top;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .group-31-TxV .item-3-jQD {
  width: 1.2rem;
  height: 2.2rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .daftar-permintaan-pwT {
  width: 15.9rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 61.3rem;
  top: 14.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .wawancara-8BT {
  width: 10.2rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 42.6rem;
  top: 14.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .brosur-lowongan-33X {
  width: 15.3rem;
  height: 2.2rem;
  cursor: pointer;
  position: absolute;
  left: 20.5rem;
  top: 14.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .header-pt-pUH .keluar-xAV {
  width: 5.8rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 136.2rem;
  top: 12.3rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u {
  margin-bottom: 29.8rem;
  width: 144.7rem;
  height: 134.5rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .rectangle-594-yLV {
  width: 144.5rem;
  height: 35.5rem;
  position: absolute;
  left: 0;
  top: 92.6rem;
  background-color: #44abc3;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 {
  width: 117.5rem;
  height: 134.5rem;
  position: absolute;
  left: 16.8rem;
  top: 0;
  background-color: #ffffff;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-ybkm-RiH {
  width: 104.6358rem;
  height: 4.5595rem;
  position: absolute;
  left: 4.0517rem;
  top: 10.8289rem;
  display: flex;
  align-items: flex-start;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-ybkm-RiH .posisi-pekerjaan-98V {
  margin: 0.38rem 3.456rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-ybkm-RiH .posisi-pekerjaan-98V .posisi-pekerjaan-98V-sub-0 {
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-ybkm-RiH .posisi-pekerjaan-98V .posisi-pekerjaan-98V-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ff0f0f;
  font-family: Inter, 'Source Sans Pro';
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-ybkm-RiH .rectangle-610-gAM {
  width: 84.5797rem;
  height: 4.5595rem;
  cursor: pointer;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-jtfb-C8h {
  width: 104.737rem;
  height: 4.5595rem;
  position: absolute;
  left: 3.9504rem;
  top: 19.1881rem;
  display: flex;
  align-items: center;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-jtfb-C8h .jenis-pekerjaan-vqP {
  margin: 0rem 5.157rem 0.92rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-jtfb-C8h .rectangle-611-EbB {
  width: 84.5797rem;
  height: 4.5595rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-fr9k-ZNZ {
  width: 105.0409rem;
  height: 4.5595rem;
  position: absolute;
  left: 3.6465rem;
  top: 27.6422rem;
  display: flex;
  align-items: flex-start;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-fr9k-ZNZ .tingkat-jabatan-UVX {
  margin: 0.475rem 3.961rem 0rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-fr9k-ZNZ .tingkat-jabatan-UVX .tingkat-jabatan-UVX-sub-0 {
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-fr9k-ZNZ .tingkat-jabatan-UVX .tingkat-jabatan-UVX-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #fd0c0c;
  font-family: Inter, 'Source Sans Pro';
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-fr9k-ZNZ .rectangle-701-rFB {
  width: 84.5797rem;
  height: 4.5595rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-eyjj-msw {
  width: 104.3319rem;
  height: 4.9rem;
  position: absolute;
  left: 4.3556rem;
  top: 37.2363rem;
  display: flex;
  align-items: center;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-eyjj-msw .spesialisasipekerjaan-i2V {
  margin-right: 8.5521rem;
  max-width: 11.2rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-eyjj-msw .spesialisasipekerjaan-i2V .spesialisasipekerjaan-i2V-sub-0 {
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-eyjj-msw .spesialisasipekerjaan-i2V .spesialisasipekerjaan-i2V-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ec1a1a;
  font-family: Inter, 'Source Sans Pro';
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-eyjj-msw .rectangle-702-sJh {
  margin-bottom: 0.1505rem;
  width: 84.5797rem;
  height: 4.5595rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-fhbx-PH3 {
  width: 23.804rem;
  height: 2.5647rem;
  position: absolute;
  left: 24.1077rem;
  top: 45.5954rem;
  display: flex;
  align-items: center;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-fhbx-PH3 .provinsi-iq7 {
  margin: 0rem 2.529rem 0.065rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-fhbx-PH3 .rectangle-715-T21 {
  width: 13.6746rem;
  height: 2.5647rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-xczp-asK {
  width: 71.2091rem;
  height: 3.7046rem;
  position: absolute;
  left: 4.3556rem;
  top: 49.965rem;
  display: flex;
  align-items: flex-end;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-xczp-asK .lokasi-kerja-64y {
  margin: 0rem 8.469rem 1.205rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-xczp-asK .lokasi-kerja-64y .lokasi-kerja-64y-sub-0 {
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-xczp-asK .lokasi-kerja-64y .lokasi-kerja-64y-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #e71010;
  font-family: Inter, 'Source Sans Pro';
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-xczp-asK .kota-fnH {
  margin: 0rem 2.184rem 0.065rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-xczp-asK .rectangle-716-CnD {
  margin-right: 3.1401rem;
  width: 13.6746rem;
  height: 2.5647rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-xczp-asK .kecamatan-8fs {
  margin: 0rem 2.367rem 0.065rem 0rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-xczp-asK .rectangle-717-GGH {
  width: 13.6746rem;
  height: 2.5647rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-m68y-C9w {
  width: 104.737rem;
  height: 26.8823rem;
  position: absolute;
  left: 3.9504rem;
  top: 59.749rem;
  display: flex;
  align-items: flex-start;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-m68y-C9w .deskripsi-pekerjaan-7nh {
  margin: 0.57rem 9.657rem 0rem 0rem;
  max-width: 10.5rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-m68y-C9w .deskripsi-pekerjaan-7nh .deskripsi-pekerjaan-7nh-sub-0 {
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-m68y-C9w .deskripsi-pekerjaan-7nh .deskripsi-pekerjaan-7nh-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #e71010;
  font-family: Inter, 'Source Sans Pro';
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-m68y-C9w .rectangle-714-hku {
  width: 84.5797rem;
  height: 26.8823rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-t2yr-dPf {
  width: 105.1422rem;
  height: 19.663rem;
  position: absolute;
  left: 3.5453rem;
  top: 91.0009rem;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-t2yr-dPf .rectangle-718-kz5 {
  width: 84.5797rem;
  height: 19.663rem;
  position: absolute;
  left: 20.5624rem;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-t2yr-dPf .persyaratan-minimum-sYu {
  width: 21.3rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 0.9499rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-t2yr-dPf .persyaratan-minimum-sYu .persyaratan-minimum-sYu-sub-0 {
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .auto-group-t2yr-dPf .persyaratan-minimum-sYu .persyaratan-minimum-sYu-sub-1 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ce2337;
  font-family: Inter, 'Source Sans Pro';
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .rincian-lowongan-fUm {
  width: 20.8rem;
  height: 2.5rem;
  position: absolute;
  left: 5.5712rem;
  top: 3.6096rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .line-29-n3b {
  width: 26.8427rem;
  height: 0.1rem;
  position: absolute;
  left: 3.5453rem;
  top: 7.0293rem;
  background-color: #000000;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .form-brocur-uV3 .group-45-X1B {
  width: 18.6379rem;
  height: 3.9896rem;
  cursor: pointer;
  position: absolute;
  left: 55.2048rem;
  top: 118.3rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #85d3a8 -0%, #49aec1 100%);
  border-radius: 1rem;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .footer-xMP {
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 144rem;
  height: 7.9rem;
  position: absolute;
  left: 0.7rem;
  top: 66.7rem;
  display: flex;
  align-items: center;
  background-color: #008a88;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .footer-xMP .tentang-jobstreet-express-dTX {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .footer-xMP .pusat-bantuan-vhX {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .footer-xMP .copyright-2023-jobstreet-express-Ey7 {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT {
  width: 13.9286rem;
  height: 27.7714rem;
  position: absolute;
  left: 3.2rem;
  top: 10.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .daftar-permintaan-tools-samping-smB {
  margin: 0rem 1.264rem 1.943rem 1.264rem;
  width: calc(100% - 2.5286rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .daftar-permintaan-tools-samping-smB .list-icon-zau {
  margin: 0rem 2.093rem 1.143rem 2.093rem;
  box-sizing: border-box;
  padding: 1rem 1.714rem 0.929rem 1.643rem;
  width: calc(100% - 4.1857rem);
  cursor: pointer;
  box-shadow: -1.1rem 0.5rem 1rem rgba(30, 203, 170, 0.6100000143);
  background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
  border-radius: 3.6071rem;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .daftar-permintaan-tools-samping-smB .list-icon-zau .list-1-Jbb {
  width: 3.8571rem;
  height: 5.2857rem;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .daftar-permintaan-tools-samping-smB .group-79-yBw {
  width: 100%;
  height: 4.5572rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .daftar-permintaan-tools-samping-smB .group-79-yBw .daftar-Kmb {
  width: 6.7rem;
  height: 3.2rem;
  position: absolute;
  left: 2.35rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .daftar-permintaan-tools-samping-smB .group-79-yBw .permintaan-2vu {
  width: 11.4rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 1.3572rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .jadwal-wawancara-tools-samping-9Vj {
  box-sizing: border-box;
  padding: 0 1.0643rem;
  width: 100%;
  cursor: pointer;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .jadwal-wawancara-tools-samping-9Vj .calendar-ikon-Hbw {
  margin: 0rem 2.293rem 1.143rem 2.293rem;
  box-sizing: border-box;
  padding: 1.357rem 0rem 1.232rem 0rem;
  width: calc(100% - 4.5857rem);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #028a6e -0%, #1ecbaa 100%);
  border-radius: 3.6071rem;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .jadwal-wawancara-tools-samping-9Vj .calendar-ikon-Hbw .calendar-1-Pus {
  width: 6.2489rem;
  height: 4.625rem;
margin-left:  12px;
  object-fit: cover;
  vertical-align: top;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .jadwal-wawancara-tools-samping-9Vj .group-80-fMb {
  width: 100%;
  height: 4.5571rem;
  position: relative;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .jadwal-wawancara-tools-samping-9Vj .group-80-fMb .jadwal-R5s {
  width: 7.1rem;
  height: 3.2rem;
  position: absolute;
  left: 2.35rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-gdiq-f4u .tools-samping-kiri-kwT .jadwal-wawancara-tools-samping-9Vj .group-80-fMb .wawancara-w4D {
  width: 11.8rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 1.3571rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5675;
  color: #ffffff;
  font-family: Lalezar, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-8a65-EZ7 {
  box-sizing: border-box;
  padding: 6.1rem 21rem 6.2rem 21rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #921414;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-8a65-EZ7 .line-20-N9X {
  margin-right: 3rem;
  width: 18rem;
  height: 0.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-8a65-EZ7 .line-21-777 {
  margin-right: 51rem;
  width: 12rem;
  height: 0.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
.pemberi-kerja-rincian-lowongan-jxd .buat-lowongan-UfK .auto-group-8a65-EZ7 .line-22-dr9 {
  width: 18rem;
  height: 0.5rem;
  background-color: #000000;
  flex-shrink: 0;
}
