
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.pemberikerja-sebelum-masuk-oLu {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h {
  margin-bottom: 11.8rem;
  width: 100%;
  height: 27.2rem;
  background: linear-gradient(180deg, #ffffff -0%, rgba(255, 255, 255, 0) 100%);
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs {
  box-sizing: border-box;
  padding: 0rem 6.6rem 0.3rem 4.5rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(91.95deg, #01d588 0.51%, #09e2b9 98.29%);
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-aenm-wrR {
  margin-bottom: 0.2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-aenm-wrR .auto-group-yntt-5hj {
  margin: 0rem 15.1rem 0.3rem 0rem;
  width: 29.8rem;
  height: 12.8rem;
  position: relative;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-aenm-wrR .auto-group-yntt-5hj .logo-removebg-preview-1-PiR {
  width: 29.8rem;
  height: 10.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-aenm-wrR .auto-group-yntt-5hj .nama-pekerjaan-iEu {
  width: 14.5rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 10.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-aenm-wrR .di-mana-B8V {
  margin-right: 74.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-aenm-wrR .masuk-HhK {
  margin-bottom: 6.3rem;
  cursor: pointer;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-3har-z5w {
  margin-bottom: 4rem;
  height: 6rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-3har-z5w .auto-group-wngh-jJR {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 1rem 1.2rem 1rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-3har-z5w .auto-group-wngh-jJR .nama-pekerjaan-atau-perusahaan-45o {
  margin-right: 8.4rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #b0aaaa;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-3har-z5w .auto-group-wngh-jJR .icon-search-outline-APj {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-3har-z5w .auto-group-cifj-3Cd {
  margin-right: 3.1rem;
  box-sizing: border-box;
  padding: 1rem 0.8rem 1rem 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-3har-z5w .auto-group-cifj-3Cd .nama-kota-atau-provinsi-ksj {
  margin-right: 14.2rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #b0aaaa;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-3har-z5w .auto-group-cifj-3Cd .icon-pin-outline-4dX {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-3har-z5w .bottom-yEh {
  width: 21rem;
  height: 100%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.2975;
  color: #ffffff;
  font-family: Candal, 'Source Sans Pro';
  white-space: nowrap;
  background: linear-gradient(89.58deg, #004f3f 0.42%, #028a6e 99.64%);
  border-radius: 1.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-zat3-PZK {
  margin: 0rem 85.3rem 0rem 1.8rem;
  box-sizing: border-box;
  padding: 0.2rem 2.555rem 0rem 2.5rem;
  width: calc(100% - 87.1rem);
  height: 3.6rem;
  display: flex;
  align-items: center;
  border-left: solid 0.1rem #777777;
  border-right: solid 0.1rem #777777;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-zat3-PZK .semua-jenis-pekerjaan-Uam {
  margin: 0rem 0.4rem 0.4rem 0rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-zat3-PZK .auto-group-g5po-BEH {
  margin-right: 2.4547rem;
  width: 20.5453rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-zat3-PZK .auto-group-g5po-BEH .line-171-izu {
  width: 0.1rem;
  height: 3.4rem;
  position: absolute;
  left: 5.5rem;
  top: 0;
  background-color: #777777;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-zat3-PZK .auto-group-g5po-BEH .kapan-saja-31b {
  width: 9.6rem;
  height: 2.4rem;
  position: absolute;
  left: 8rem;
  top: 0.3rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-zat3-PZK .auto-group-g5po-BEH .icon-arrow-ios-downward-8Hw {
  width: 3.5rem;
  height: 2.9878rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pemberikerja-sebelum-masuk-oLu .header-n-navbar-variant2-76h .background-header-SPs .auto-group-zat3-PZK .auto-group-g5po-BEH .icon-arrow-ios-downward-FdT {
  width: 20.5453rem;
  height: 2.9878rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ {
  margin: 0rem 13.6rem 11.8rem 14rem;
  width: calc(100% - 27.6rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .auto-group-zvyq-Adw {
  margin: 0rem 80.5rem 2.336rem 0rem;
  width: calc(100% - 80.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .auto-group-zvyq-Adw .icon-trending-up-Gws {
  margin-right: 1.1607rem;
  width: 4.1393rem;
  height: 4.3636rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .auto-group-zvyq-Adw .lowongan-yang-sering-dicari-cF3 {
  margin-top: 0.1364rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.3175;
  color: #015442;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb {
  margin: 0rem 0rem 4.8rem 0.5rem;
  height: 16.2rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-sjub-EXK {
  margin: 0rem 2.838rem 0.022rem 0rem;
  width: 13.1625rem;
  height: calc(100% - 0.0215rem);
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-sjub-EXK .jabatan-LqF {
  margin-bottom: 1.9rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-sjub-EXK .auto-group-ozqx-UgZ {
  margin: 0rem 0rem 2.422rem 0.2rem;
  box-sizing: border-box;
  padding: 0.8rem 2.463rem 0.808rem 0.6rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-sjub-EXK .auto-group-ozqx-UgZ .icon-pie-chart-2-nBT {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-sjub-EXK .auto-group-ozqx-UgZ .admin-7Ud {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-sjub-EXK .auto-group-7wvs-Qid {
  margin-left: 0.2rem;
  box-sizing: border-box;
  padding: 0.8rem 2.263rem 0.808rem 0.6rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-sjub-EXK .auto-group-7wvs-Qid .icon-pie-chart-2-ijK {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-sjub-EXK .auto-group-7wvs-Qid .barista-FUM {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-7p3s-M1b {
  margin-right: 2.7rem;
  width: 10.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-7p3s-M1b .auto-group-rvfo-tXK {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-7p3s-M1b .auto-group-rvfo-tXK .icon-pie-chart-2-RGM {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-7p3s-M1b .auto-group-rvfo-tXK .kasir-x1P {
  margin-bottom: 0.2708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-7p3s-M1b .auto-group-veth-euo {
  box-sizing: border-box;
  padding: 0.8rem 0.9rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-7p3s-M1b .auto-group-veth-euo .icon-pie-chart-2-nWD {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-7p3s-M1b .auto-group-veth-euo .driver-v6d {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-78cy-zcH {
  margin-right: 2.8rem;
  width: 19.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-78cy-zcH .auto-group-923t-jpm {
  margin: 0rem 0rem 2.4rem 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 1.7rem 0.829rem 0.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-78cy-zcH .auto-group-923t-jpm .icon-pie-chart-2-34m {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-78cy-zcH .auto-group-923t-jpm .staff-marketing-yDK {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-78cy-zcH .auto-group-rnnd-4Vf {
  margin-right: 0.1rem;
  box-sizing: border-box;
  padding: 0.8rem 2.3rem 0.829rem 0.6rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-78cy-zcH .auto-group-rnnd-4Vf .icon-pie-chart-2-ysX {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-78cy-zcH .auto-group-rnnd-4Vf .quality-control-6hF {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-1fmk-PgM {
  margin-right: 2.8rem;
  width: 20.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-1fmk-PgM .auto-group-znwd-JYR {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.4rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-1fmk-PgM .auto-group-znwd-JYR .icon-pie-chart-2-EBB {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-1fmk-PgM .auto-group-znwd-JYR .staff-accounting-xcy {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-1fmk-PgM .auto-group-ikgm-4AD {
  box-sizing: border-box;
  padding: 0.8rem 2.5rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-1fmk-PgM .auto-group-ikgm-4AD .icon-pie-chart-2-Ayw {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-1fmk-PgM .auto-group-ikgm-4AD .content-creator-6ch {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-ydgm-zTB {
  margin-right: 2.3rem;
  width: 17.2rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-ydgm-zTB .auto-group-vvwt-LX3 {
  margin-bottom: 2.4rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.829rem 0.6rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-ydgm-zTB .auto-group-vvwt-LX3 .icon-pie-chart-2-U7T {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-ydgm-zTB .auto-group-vvwt-LX3 .staff-gudang-QWu {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-ydgm-zTB .auto-group-6uxy-hku {
  margin-right: 6.4rem;
  box-sizing: border-box;
  padding: 0.8rem 2.2rem 0.829rem 0.6rem;
  width: calc(100% - 6.4rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-ydgm-zTB .auto-group-6uxy-hku .icon-pie-chart-2-RB7 {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-ydgm-zTB .auto-group-6uxy-hku .host-9cu {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-jnim-FR3 {
  margin: 4.8rem 0rem 6.9rem 0rem;
  box-sizing: border-box;
  padding: 0.8rem 1.1rem 0.829rem 1.1rem;
  height: calc(100% - 11.7rem);
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-jnim-FR3 .icon-pie-chart-2-x4Z {
  margin-right: 1.2768rem;
  width: 2.7232rem;
  height: 2.8708rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-90-7hb .auto-group-jnim-FR3 .customer-service-5ey {
  margin-bottom: 0.0708rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #008a88;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 {
  margin-left: 0.7rem;
  width: 111.8rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .perusahaan-KZK {
  margin-bottom: 1.9rem;
  display: flex;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #000000;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-omxd-3ER {
  margin-bottom: 2.2rem;
  width: 100%;
  height: 4.5rem;
  display: flex;
  align-items: center;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-omxd-3ER .group-88-ytm {
  margin-right: 2.9rem;
  box-sizing: border-box;
  padding: 0.9rem 0.7rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-omxd-3ER .group-88-ytm .emoji-office-building-WNu {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-omxd-3ER .group-88-ytm .ganesha-operation-surabaya-dsk-3Nq {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-omxd-3ER .auto-group-k3q3-izm {
  margin-right: 3rem;
  box-sizing: border-box;
  padding: 0.9rem 1.6rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-omxd-3ER .auto-group-k3q3-izm .emoji-office-building-2Em {
  margin-right: 0.9rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-omxd-3ER .auto-group-k3q3-izm .pt-media-telekomunikasi-mandiri-XBX {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-omxd-3ER .auto-group-fzkh-QFK {
  box-sizing: border-box;
  padding: 0.9rem 1.3rem 0.9rem 0.9rem;
  height: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-omxd-3ER .auto-group-fzkh-QFK .emoji-office-building-JrV {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-omxd-3ER .auto-group-fzkh-QFK .pt-arta-boga-boga-cemerlang-csB {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 {
  display: flex;
  align-items: flex-end;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-a6wj-TN1 {
  margin: 0.2rem 3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 2.2rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-a6wj-TN1 .emoji-office-building-kc1 {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-a6wj-TN1 .cv-berlian-retail-gVf {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-vdwf-mn1 {
  margin: 0.2rem 3rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 1.7rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-vdwf-mn1 .emoji-office-building-gty {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-vdwf-mn1 .panara-course-DP7 {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-3bcv-7jP {
  margin: 0.2rem 3.2rem 0rem 0rem;
  box-sizing: border-box;
  padding: 0.9rem 1.4rem 0.9rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-3bcv-7jP .emoji-office-building-E3K {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-3bcv-7jP .bali-super-host-knM {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-fvqy-2zm {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding: 1.1rem 1.7rem 0.7rem 0.9rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #0e8136;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-fvqy-2zm .emoji-office-building-Zjo {
  margin-right: 1rem;
  width: 2.7rem;
  height: 2.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .yang-sering-dicari-qrZ .group-89-Ne5 .auto-group-3s6v-JV7 .auto-group-fvqy-2zm .angonjiwo-6Uq {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #01d589;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .footer-Nx9 {
  margin-bottom: 0;
  box-sizing: border-box;
  padding: 2.7rem 15.1rem 2.8rem 14rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #008a88;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .footer-Nx9 .tentang-jobstreet-express-JL1 {
  margin-right: 4.6rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .footer-Nx9 .pusat-bantuan-2Wu {
  margin-right: 44.9rem;
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .footer-Nx9 .copyright-2023-jobstreet-express-xQZ {
  display: flex;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3175;
  color: #ffffff;
  font-family: Roboto Slab, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .rectangle-594-Gg9 {
  margin: 0rem 0.2rem 35.9rem 0rem;
  width: 144.5rem;
  height: 35.5rem;
  background-color: #8c8989;
  flex-shrink: 0;
}
.pemberikerja-sebelum-masuk-oLu .auto-group-7qzv-CZo {
  width: 100%;
  height: 12.8rem;
  background-color: #999393;
  border-top: solid 0.5rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
